<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{0,44},{320,397}}</string>
	<key>sectionHeaderHeight</key>
	<string>0</string>
	<key>sectionFooterHeight</key>
	<string>18</string>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string>updateModifyCell:</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>修改密码</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
						<key>sizeOfIcon</key>
						<string>{30,30}</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>绑定第三方账号</string>
						</dict>
						<key>icon</key>
						<string>icon3rdPlfm</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>cellStyle</key>
						<string>1</string>
						<key>accessoryType</key>
						<string>1</string>
						<key>sizeOfIcon</key>
						<string>{30,30}</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>绑定手机号</string>
						</dict>
						<key>icon</key>
						<string>iconBdPhoneAccount</string>
						<key>strSel_customCell</key>
						<string>customCell_phoneAccountBind:</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
