<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{40,10},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>添加好友</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>17</string>
							<key>boldFont</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>40</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>需要验证</string>
						</dict>
						<key>strSel_customCell</key>
						<string>needAuthorizeCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>允许任何人加我为好友</string>
						</dict>
						<key>strSel_customCell</key>
						<string>anyOneCanAddCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>不允许任何人加为好友</string>
						</dict>
						<key>strSel_customCell</key>
						<string>noOneCanAddCell:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dependShow</key>
			<string>1</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{40,10},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>支付密码</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>17</string>
							<key>boldFont</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>40</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdFacilityCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>switch</key>
							<dict>
								<key>clickEvent</key>
								<string>payPasswordSwitch:</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>91豆支付密码验证</string>
						</dict>
						<key>strSel_customCell</key>
						<string>setPayPasswordSwitch:</string>
					</dict>
				</dict>
			</array>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{640,15}}</string>
					</dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{40,0},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{40,0}</string>
							<key>content</key>
							<string>支付密码，即您的登录密码或设置过的支付密码。若开启91豆支付密码验证，登录后首次购买时会验证一次支付密码。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>14</string>
						</dict>
					</dict>
				</dict>
				<key>footTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>70</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
