<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>110000</string>
		<key>Name</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>120000</string>
		<key>Name</key>
		<string>天津市</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130100</string>
				<key>Name</key>
				<string>石家庄市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130200</string>
				<key>Name</key>
				<string>唐山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130300</string>
				<key>Name</key>
				<string>秦皇岛市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130400</string>
				<key>Name</key>
				<string>邯郸市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130500</string>
				<key>Name</key>
				<string>邢台市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130600</string>
				<key>Name</key>
				<string>保定市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130700</string>
				<key>Name</key>
				<string>张家口市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130800</string>
				<key>Name</key>
				<string>承德市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>130900</string>
				<key>Name</key>
				<string>沧州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>131000</string>
				<key>Name</key>
				<string>廊坊市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>131100</string>
				<key>Name</key>
				<string>衡水市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>130000</string>
		<key>Name</key>
		<string>河北省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140100</string>
				<key>Name</key>
				<string>太原市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140200</string>
				<key>Name</key>
				<string>大同市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140300</string>
				<key>Name</key>
				<string>阳泉市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140400</string>
				<key>Name</key>
				<string>长治市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140500</string>
				<key>Name</key>
				<string>晋城市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140600</string>
				<key>Name</key>
				<string>朔州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140700</string>
				<key>Name</key>
				<string>晋中市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140800</string>
				<key>Name</key>
				<string>运城市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>140900</string>
				<key>Name</key>
				<string>忻州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>141000</string>
				<key>Name</key>
				<string>临汾市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>141100</string>
				<key>Name</key>
				<string>吕梁市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>140000</string>
		<key>Name</key>
		<string>山西省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150100</string>
				<key>Name</key>
				<string>呼和浩特市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150200</string>
				<key>Name</key>
				<string>包头市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150300</string>
				<key>Name</key>
				<string>乌海市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150400</string>
				<key>Name</key>
				<string>赤峰市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150500</string>
				<key>Name</key>
				<string>通辽市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150600</string>
				<key>Name</key>
				<string>鄂尔多斯市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150700</string>
				<key>Name</key>
				<string>呼伦贝尔市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150800</string>
				<key>Name</key>
				<string>巴彦淖尔市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>150900</string>
				<key>Name</key>
				<string>乌兰察布市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>152200</string>
				<key>Name</key>
				<string>兴安盟</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>152500</string>
				<key>Name</key>
				<string>锡林郭勒盟</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>152900</string>
				<key>Name</key>
				<string>阿拉善盟</string>
			</dict>
		</array>
		<key>Id</key>
		<string>150000</string>
		<key>Name</key>
		<string>内蒙古自治区</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210100</string>
				<key>Name</key>
				<string>沈阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210200</string>
				<key>Name</key>
				<string>大连市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210300</string>
				<key>Name</key>
				<string>鞍山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210400</string>
				<key>Name</key>
				<string>抚顺市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210500</string>
				<key>Name</key>
				<string>本溪市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210600</string>
				<key>Name</key>
				<string>丹东市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210700</string>
				<key>Name</key>
				<string>锦州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210800</string>
				<key>Name</key>
				<string>营口市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>210900</string>
				<key>Name</key>
				<string>阜新市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>211000</string>
				<key>Name</key>
				<string>辽阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>211100</string>
				<key>Name</key>
				<string>盘锦市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>211200</string>
				<key>Name</key>
				<string>铁岭市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>211300</string>
				<key>Name</key>
				<string>朝阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>211400</string>
				<key>Name</key>
				<string>葫芦岛市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>210000</string>
		<key>Name</key>
		<string>辽宁省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220100</string>
				<key>Name</key>
				<string>长春市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220200</string>
				<key>Name</key>
				<string>吉林市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220300</string>
				<key>Name</key>
				<string>四平市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220400</string>
				<key>Name</key>
				<string>辽源市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220500</string>
				<key>Name</key>
				<string>通化市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220600</string>
				<key>Name</key>
				<string>白山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220700</string>
				<key>Name</key>
				<string>松原市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>220800</string>
				<key>Name</key>
				<string>白城市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>222400</string>
				<key>Name</key>
				<string>延边朝鲜族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>220000</string>
		<key>Name</key>
		<string>吉林省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230100</string>
				<key>Name</key>
				<string>哈尔滨市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230200</string>
				<key>Name</key>
				<string>齐齐哈尔市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230300</string>
				<key>Name</key>
				<string>鸡西市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230400</string>
				<key>Name</key>
				<string>鹤岗市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230500</string>
				<key>Name</key>
				<string>双鸭山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230600</string>
				<key>Name</key>
				<string>大庆市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230700</string>
				<key>Name</key>
				<string>伊春市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230800</string>
				<key>Name</key>
				<string>佳木斯市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>230900</string>
				<key>Name</key>
				<string>七台河市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>231000</string>
				<key>Name</key>
				<string>牡丹江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>231100</string>
				<key>Name</key>
				<string>黑河市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>231200</string>
				<key>Name</key>
				<string>绥化市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>232700</string>
				<key>Name</key>
				<string>大兴安岭地区</string>
			</dict>
		</array>
		<key>Id</key>
		<string>230000</string>
		<key>Name</key>
		<string>黑龙江省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>310000</string>
		<key>Name</key>
		<string>上海市</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320100</string>
				<key>Name</key>
				<string>南京市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320200</string>
				<key>Name</key>
				<string>无锡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320300</string>
				<key>Name</key>
				<string>徐州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320400</string>
				<key>Name</key>
				<string>常州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320500</string>
				<key>Name</key>
				<string>苏州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320600</string>
				<key>Name</key>
				<string>南通市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320700</string>
				<key>Name</key>
				<string>连云港市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320800</string>
				<key>Name</key>
				<string>淮安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>320900</string>
				<key>Name</key>
				<string>盐城市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>321000</string>
				<key>Name</key>
				<string>扬州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>321100</string>
				<key>Name</key>
				<string>镇江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>321200</string>
				<key>Name</key>
				<string>泰州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>321300</string>
				<key>Name</key>
				<string>宿迁市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>320000</string>
		<key>Name</key>
		<string>江苏省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330100</string>
				<key>Name</key>
				<string>杭州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330200</string>
				<key>Name</key>
				<string>宁波市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330300</string>
				<key>Name</key>
				<string>温州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330400</string>
				<key>Name</key>
				<string>嘉兴市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330500</string>
				<key>Name</key>
				<string>湖州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330600</string>
				<key>Name</key>
				<string>绍兴市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330700</string>
				<key>Name</key>
				<string>金华市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330800</string>
				<key>Name</key>
				<string>衢州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>330900</string>
				<key>Name</key>
				<string>舟山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>331000</string>
				<key>Name</key>
				<string>台州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>331100</string>
				<key>Name</key>
				<string>丽水市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>330000</string>
		<key>Name</key>
		<string>浙江省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340100</string>
				<key>Name</key>
				<string>合肥市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340200</string>
				<key>Name</key>
				<string>芜湖市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340300</string>
				<key>Name</key>
				<string>蚌埠市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340400</string>
				<key>Name</key>
				<string>淮南市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340500</string>
				<key>Name</key>
				<string>马鞍山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340600</string>
				<key>Name</key>
				<string>淮北市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340700</string>
				<key>Name</key>
				<string>铜陵市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>340800</string>
				<key>Name</key>
				<string>安庆市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341000</string>
				<key>Name</key>
				<string>黄山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341100</string>
				<key>Name</key>
				<string>滁州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341200</string>
				<key>Name</key>
				<string>阜阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341300</string>
				<key>Name</key>
				<string>宿州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341400</string>
				<key>Name</key>
				<string>巢湖市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341500</string>
				<key>Name</key>
				<string>六安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341600</string>
				<key>Name</key>
				<string>亳州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341700</string>
				<key>Name</key>
				<string>池州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>341800</string>
				<key>Name</key>
				<string>宣城市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>340000</string>
		<key>Name</key>
		<string>安徽省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350100</string>
				<key>Name</key>
				<string>福州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350200</string>
				<key>Name</key>
				<string>厦门市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350300</string>
				<key>Name</key>
				<string>莆田市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350400</string>
				<key>Name</key>
				<string>三明市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350500</string>
				<key>Name</key>
				<string>泉州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350600</string>
				<key>Name</key>
				<string>漳州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350700</string>
				<key>Name</key>
				<string>南平市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350800</string>
				<key>Name</key>
				<string>龙岩市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>350900</string>
				<key>Name</key>
				<string>宁德地区</string>
			</dict>
		</array>
		<key>Id</key>
		<string>350000</string>
		<key>Name</key>
		<string>福建省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360100</string>
				<key>Name</key>
				<string>南昌市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360200</string>
				<key>Name</key>
				<string>景德镇市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360300</string>
				<key>Name</key>
				<string>萍乡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360400</string>
				<key>Name</key>
				<string>九江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360500</string>
				<key>Name</key>
				<string>新余市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360600</string>
				<key>Name</key>
				<string>鹰潭市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360700</string>
				<key>Name</key>
				<string>赣州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360800</string>
				<key>Name</key>
				<string>吉安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>360900</string>
				<key>Name</key>
				<string>宜春市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>361000</string>
				<key>Name</key>
				<string>抚州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>361100</string>
				<key>Name</key>
				<string>上饶市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>360000</string>
		<key>Name</key>
		<string>江西省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370100</string>
				<key>Name</key>
				<string>济南市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370200</string>
				<key>Name</key>
				<string>青岛市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370300</string>
				<key>Name</key>
				<string>淄博市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370400</string>
				<key>Name</key>
				<string>枣庄市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370500</string>
				<key>Name</key>
				<string>东营市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370600</string>
				<key>Name</key>
				<string>烟台市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370700</string>
				<key>Name</key>
				<string>潍坊市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370800</string>
				<key>Name</key>
				<string>济宁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>370900</string>
				<key>Name</key>
				<string>泰安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371000</string>
				<key>Name</key>
				<string>威海市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371100</string>
				<key>Name</key>
				<string>日照市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371200</string>
				<key>Name</key>
				<string>莱芜市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371300</string>
				<key>Name</key>
				<string>临沂市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371400</string>
				<key>Name</key>
				<string>德州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371500</string>
				<key>Name</key>
				<string>聊城市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371600</string>
				<key>Name</key>
				<string>滨州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>371700</string>
				<key>Name</key>
				<string>菏泽市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>370000</string>
		<key>Name</key>
		<string>山东省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410100</string>
				<key>Name</key>
				<string>郑州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410200</string>
				<key>Name</key>
				<string>开封市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410300</string>
				<key>Name</key>
				<string>洛阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410400</string>
				<key>Name</key>
				<string>平顶山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410500</string>
				<key>Name</key>
				<string>安阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410600</string>
				<key>Name</key>
				<string>鹤壁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410700</string>
				<key>Name</key>
				<string>新乡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410800</string>
				<key>Name</key>
				<string>焦作市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>410900</string>
				<key>Name</key>
				<string>濮阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411000</string>
				<key>Name</key>
				<string>许昌市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411100</string>
				<key>Name</key>
				<string>漯河市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411200</string>
				<key>Name</key>
				<string>三门峡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411300</string>
				<key>Name</key>
				<string>南阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411400</string>
				<key>Name</key>
				<string>商丘市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411500</string>
				<key>Name</key>
				<string>信阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411600</string>
				<key>Name</key>
				<string>周口市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>411700</string>
				<key>Name</key>
				<string>驻马店市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>410000</string>
		<key>Name</key>
		<string>河南省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420100</string>
				<key>Name</key>
				<string>武汉市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420200</string>
				<key>Name</key>
				<string>黄石市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420300</string>
				<key>Name</key>
				<string>十堰市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420500</string>
				<key>Name</key>
				<string>宜昌市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420600</string>
				<key>Name</key>
				<string>襄樊市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420700</string>
				<key>Name</key>
				<string>鄂州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420800</string>
				<key>Name</key>
				<string>荆门市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>420900</string>
				<key>Name</key>
				<string>孝感市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>421000</string>
				<key>Name</key>
				<string>荆州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>421100</string>
				<key>Name</key>
				<string>黄冈市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>421200</string>
				<key>Name</key>
				<string>咸宁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>421300</string>
				<key>Name</key>
				<string>随州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>422800</string>
				<key>Name</key>
				<string>恩施土家族苗族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>429000</string>
				<key>Name</key>
				<string>省直辖县级行政单位</string>
			</dict>
		</array>
		<key>Id</key>
		<string>420000</string>
		<key>Name</key>
		<string>湖北省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430100</string>
				<key>Name</key>
				<string>长沙市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430200</string>
				<key>Name</key>
				<string>株洲市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430300</string>
				<key>Name</key>
				<string>湘潭市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430400</string>
				<key>Name</key>
				<string>衡阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430500</string>
				<key>Name</key>
				<string>邵阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430600</string>
				<key>Name</key>
				<string>岳阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430700</string>
				<key>Name</key>
				<string>常德市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430800</string>
				<key>Name</key>
				<string>张家界市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>430900</string>
				<key>Name</key>
				<string>益阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>431000</string>
				<key>Name</key>
				<string>郴州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>431100</string>
				<key>Name</key>
				<string>永州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>431200</string>
				<key>Name</key>
				<string>怀化市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>431300</string>
				<key>Name</key>
				<string>娄底市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>433100</string>
				<key>Name</key>
				<string>湘西土家族苗族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>430000</string>
		<key>Name</key>
		<string>湖南省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440100</string>
				<key>Name</key>
				<string>广州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440200</string>
				<key>Name</key>
				<string>韶关市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440300</string>
				<key>Name</key>
				<string>深圳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440400</string>
				<key>Name</key>
				<string>珠海市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440500</string>
				<key>Name</key>
				<string>汕头市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440600</string>
				<key>Name</key>
				<string>佛山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440700</string>
				<key>Name</key>
				<string>江门市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440800</string>
				<key>Name</key>
				<string>湛江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>440900</string>
				<key>Name</key>
				<string>茂名市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441200</string>
				<key>Name</key>
				<string>肇庆市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441300</string>
				<key>Name</key>
				<string>惠州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441400</string>
				<key>Name</key>
				<string>梅州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441500</string>
				<key>Name</key>
				<string>汕尾市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441600</string>
				<key>Name</key>
				<string>河源市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441700</string>
				<key>Name</key>
				<string>阳江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441800</string>
				<key>Name</key>
				<string>清远市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>441900</string>
				<key>Name</key>
				<string>东莞市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>442000</string>
				<key>Name</key>
				<string>中山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>445100</string>
				<key>Name</key>
				<string>潮州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>445200</string>
				<key>Name</key>
				<string>揭阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>445300</string>
				<key>Name</key>
				<string>云浮市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>440000</string>
		<key>Name</key>
		<string>广东省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450100</string>
				<key>Name</key>
				<string>南宁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450200</string>
				<key>Name</key>
				<string>柳州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450300</string>
				<key>Name</key>
				<string>桂林市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450400</string>
				<key>Name</key>
				<string>梧州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450500</string>
				<key>Name</key>
				<string>北海市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450600</string>
				<key>Name</key>
				<string>防城港市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450700</string>
				<key>Name</key>
				<string>钦州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450800</string>
				<key>Name</key>
				<string>贵港市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>450900</string>
				<key>Name</key>
				<string>玉林市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>451000</string>
				<key>Name</key>
				<string>百色市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>451100</string>
				<key>Name</key>
				<string>贺州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>451200</string>
				<key>Name</key>
				<string>河池市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>451300</string>
				<key>Name</key>
				<string>来宾市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>451400</string>
				<key>Name</key>
				<string>崇左市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>450000</string>
		<key>Name</key>
		<string>广西壮族自治区</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>460100</string>
				<key>Name</key>
				<string>海口市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>460200</string>
				<key>Name</key>
				<string>三亚市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>469000</string>
				<key>Name</key>
				<string>省直辖县级行政单位</string>
			</dict>
		</array>
		<key>Id</key>
		<string>460000</string>
		<key>Name</key>
		<string>海南省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>500000</string>
		<key>Name</key>
		<string>重庆市</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510100</string>
				<key>Name</key>
				<string>成都市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510300</string>
				<key>Name</key>
				<string>自贡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510400</string>
				<key>Name</key>
				<string>攀枝花市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510500</string>
				<key>Name</key>
				<string>泸州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510600</string>
				<key>Name</key>
				<string>德阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510700</string>
				<key>Name</key>
				<string>绵阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510800</string>
				<key>Name</key>
				<string>广元市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>510900</string>
				<key>Name</key>
				<string>遂宁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511000</string>
				<key>Name</key>
				<string>内江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511100</string>
				<key>Name</key>
				<string>乐山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511300</string>
				<key>Name</key>
				<string>南充市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511400</string>
				<key>Name</key>
				<string>眉山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511500</string>
				<key>Name</key>
				<string>宜宾市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511600</string>
				<key>Name</key>
				<string>广安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511700</string>
				<key>Name</key>
				<string>达州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511800</string>
				<key>Name</key>
				<string>雅安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>511900</string>
				<key>Name</key>
				<string>巴中市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>512000</string>
				<key>Name</key>
				<string>资阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>513200</string>
				<key>Name</key>
				<string>阿坝藏族羌族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>513300</string>
				<key>Name</key>
				<string>甘孜藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>513400</string>
				<key>Name</key>
				<string>凉山彝族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>510000</string>
		<key>Name</key>
		<string>四川省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>520100</string>
				<key>Name</key>
				<string>贵阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>520200</string>
				<key>Name</key>
				<string>六盘水市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>520300</string>
				<key>Name</key>
				<string>遵义市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>520400</string>
				<key>Name</key>
				<string>安顺市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>522200</string>
				<key>Name</key>
				<string>铜仁地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>522300</string>
				<key>Name</key>
				<string>黔西南布依族苗族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>522400</string>
				<key>Name</key>
				<string>毕节地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>522600</string>
				<key>Name</key>
				<string>黔东南苗族侗族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>522700</string>
				<key>Name</key>
				<string>黔南布依族苗族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>520000</string>
		<key>Name</key>
		<string>贵州省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530100</string>
				<key>Name</key>
				<string>昆明市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530300</string>
				<key>Name</key>
				<string>曲靖市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530400</string>
				<key>Name</key>
				<string>玉溪市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530500</string>
				<key>Name</key>
				<string>保山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530600</string>
				<key>Name</key>
				<string>昭通市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530700</string>
				<key>Name</key>
				<string>丽江市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530800</string>
				<key>Name</key>
				<string>思茅市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>530900</string>
				<key>Name</key>
				<string>临沧市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>532300</string>
				<key>Name</key>
				<string>楚雄彝族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>532500</string>
				<key>Name</key>
				<string>红河哈尼族彝族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>532600</string>
				<key>Name</key>
				<string>文山壮族苗族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>532800</string>
				<key>Name</key>
				<string>西双版纳傣族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>532900</string>
				<key>Name</key>
				<string>大理白族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>533100</string>
				<key>Name</key>
				<string>德宏傣族景颇族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>533300</string>
				<key>Name</key>
				<string>怒江傈僳族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>533400</string>
				<key>Name</key>
				<string>迪庆藏族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>530000</string>
		<key>Name</key>
		<string>云南省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>540100</string>
				<key>Name</key>
				<string>拉萨市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542100</string>
				<key>Name</key>
				<string>昌都地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542200</string>
				<key>Name</key>
				<string>山南地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542300</string>
				<key>Name</key>
				<string>日喀则地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542400</string>
				<key>Name</key>
				<string>那曲地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542500</string>
				<key>Name</key>
				<string>阿里地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>542600</string>
				<key>Name</key>
				<string>林芝地区</string>
			</dict>
		</array>
		<key>Id</key>
		<string>540000</string>
		<key>Name</key>
		<string>西藏自治区</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610100</string>
				<key>Name</key>
				<string>西安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610200</string>
				<key>Name</key>
				<string>铜川市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610300</string>
				<key>Name</key>
				<string>宝鸡市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610400</string>
				<key>Name</key>
				<string>咸阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610500</string>
				<key>Name</key>
				<string>渭南市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610600</string>
				<key>Name</key>
				<string>延安市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610700</string>
				<key>Name</key>
				<string>汉中市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610800</string>
				<key>Name</key>
				<string>榆林市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>610900</string>
				<key>Name</key>
				<string>安康市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>611000</string>
				<key>Name</key>
				<string>商洛市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>610000</string>
		<key>Name</key>
		<string>陕西省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620100</string>
				<key>Name</key>
				<string>兰州市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620200</string>
				<key>Name</key>
				<string>嘉峪关市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620300</string>
				<key>Name</key>
				<string>金昌市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620400</string>
				<key>Name</key>
				<string>白银市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620500</string>
				<key>Name</key>
				<string>天水市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620600</string>
				<key>Name</key>
				<string>武威市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620700</string>
				<key>Name</key>
				<string>张掖市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620800</string>
				<key>Name</key>
				<string>平凉市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>620900</string>
				<key>Name</key>
				<string>酒泉市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>621000</string>
				<key>Name</key>
				<string>庆阳市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>621100</string>
				<key>Name</key>
				<string>定西市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>621200</string>
				<key>Name</key>
				<string>陇南市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>622900</string>
				<key>Name</key>
				<string>临夏回族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>623000</string>
				<key>Name</key>
				<string>甘南藏族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>620000</string>
		<key>Name</key>
		<string>甘肃省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>630100</string>
				<key>Name</key>
				<string>西宁市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632100</string>
				<key>Name</key>
				<string>海东地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632200</string>
				<key>Name</key>
				<string>海北藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632300</string>
				<key>Name</key>
				<string>黄南藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632500</string>
				<key>Name</key>
				<string>海南藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632600</string>
				<key>Name</key>
				<string>果洛藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632700</string>
				<key>Name</key>
				<string>玉树藏族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>632800</string>
				<key>Name</key>
				<string>海西蒙古族藏族自治州</string>
			</dict>
		</array>
		<key>Id</key>
		<string>630000</string>
		<key>Name</key>
		<string>青海省</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>640100</string>
				<key>Name</key>
				<string>银川市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>640200</string>
				<key>Name</key>
				<string>石嘴山市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>640300</string>
				<key>Name</key>
				<string>吴忠市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>640400</string>
				<key>Name</key>
				<string>固原市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>640500</string>
				<key>Name</key>
				<string>中卫市</string>
			</dict>
		</array>
		<key>Id</key>
		<string>640000</string>
		<key>Name</key>
		<string>宁夏回族自治区</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
			<dict>
				<key>Id</key>
				<string>650100</string>
				<key>Name</key>
				<string>乌鲁木齐市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>650200</string>
				<key>Name</key>
				<string>克拉玛依市</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652100</string>
				<key>Name</key>
				<string>吐鲁番地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652200</string>
				<key>Name</key>
				<string>哈密地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652300</string>
				<key>Name</key>
				<string>昌吉回族自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652700</string>
				<key>Name</key>
				<string>博尔塔拉蒙古自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652800</string>
				<key>Name</key>
				<string>巴音郭楞蒙古自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>652900</string>
				<key>Name</key>
				<string>阿克苏地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>653000</string>
				<key>Name</key>
				<string>克孜勒苏柯尔克孜自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>653100</string>
				<key>Name</key>
				<string>喀什地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>653200</string>
				<key>Name</key>
				<string>和田地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>654000</string>
				<key>Name</key>
				<string>伊犁哈萨克自治州</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>654200</string>
				<key>Name</key>
				<string>塔城地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>654300</string>
				<key>Name</key>
				<string>阿勒泰地区</string>
			</dict>
			<dict>
				<key>Id</key>
				<string>659000</string>
				<key>Name</key>
				<string>省直辖行政单位</string>
			</dict>
		</array>
		<key>Id</key>
		<string>650000</string>
		<key>Name</key>
		<string>新疆维吾尔自治区</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>710000</string>
		<key>Name</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>810000</string>
		<key>Name</key>
		<string>香港</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string>820000</string>
		<key>Name</key>
		<string>澳门</string>
	</dict>
	<dict>
		<key>Cities</key>
		<array>
			<dict>
				<key>Id</key>
				<string></string>
				<key>Name</key>
				<string></string>
			</dict>
		</array>
		<key>Id</key>
		<string></string>
		<key>Name</key>
		<string></string>
	</dict>
</array>
</plist>
