<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>dependShow</key>
			<string>1</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>viewForAccount</key>
						<dict>
							<key>type</key>
							<string>view</string>
							<key>viewType</key>
							<string>UIView</string>
							<key>bgColor</key>
							<string>0,0,0,0</string>
							<key>rect</key>
							<string>{{0,0},{0,0}}</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>bottomRightMargin</key>
							<string>{190,30}</string>
						</dict>
						<key>loginBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>rect</key>
							<string>{{300,12},{170,43}}</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>title</key>
							<string>登录</string>
							<key>bgImage</key>
							<string>btn_login</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>fontSize</key>
							<string>18</string>
							<key>clickEvent</key>
							<string>doLogin</string>
						</dict>
						<key>registerLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{300,75},{110,21}}</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>bottomRightMargin</key>
							<string>{70,0}</string>
							<key>content</key>
							<string>没有91通行证?</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>14</string>
						</dict>
						<key>registerBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>rect</key>
							<string>{{400,66},{70,40}}</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>title</key>
							<string>1秒注册</string>
							<key>horizenAlign</key>
							<string>center</string>
							<key>vertAlign</key>
							<string>center</string>
							<key>fontSize</key>
							<string>14</string>
							<key>titleColor</key>
							<string>1,1,0,1</string>
							<key>clickEvent</key>
							<string>doRegister</string>
						</dict>
						<key>thirdPlatformTitle</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{10,125},{200,20}}</string>
							<key>content</key>
							<string>其它账号登录</string>
							<key>fontSize</key>
							<string>14</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
						</dict>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdView_headView:</string>
				</dict>
				<key>height</key>
				<string>150</string>
			</dict>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>align</key>
							<string>left</string>
							<key>rect</key>
							<string>{{300,9},{105,25}}</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>bottomRightMargin</key>
							<string>{76,0}</string>
							<key>content</key>
							<string>忘记密码了?</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>fontSize</key>
							<string>14</string>
						</dict>
						<key>forgetPassword</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>rect</key>
							<string>{{381,4},{90,35}}</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>title</key>
							<string>点击这里找回</string>
							<key>horizenAlign</key>
							<string>left</string>
							<key>vertAlign</key>
							<string>center</string>
							<key>fontSize</key>
							<string>14</string>
							<key>titleColor</key>
							<string>1,1,0,1</string>
							<key>clickEvent</key>
							<string>findPassword</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>height</key>
				<string>50</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>tip</key>
					<string>第三方登录</string>
					<key>height</key>
					<string>60</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>Nd3rdPlfmCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>accessoryType</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
