<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{60,50},{520,390}}</string>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>img</key>
						<dict>
							<key>type</key>
							<string>imageView</string>
							<key>autoResizeFlag</key>
							<string>1,4,8,32</string>
							<key>rect</key>
							<string>{{0,0},{462,80}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
							<key>image</key>
							<string>banner_landscape</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>height</key>
				<string>100</string>
			</dict>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>registBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>rect</key>
							<string>{{30,10},{200,35}}</string>
							<key>title</key>
							<string>1秒注册</string>
							<key>bgImage</key>
							<string>btn_register</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>fontSize</key>
							<string>16</string>
							<key>titleColor</key>
							<string>1,1,1,1</string>
							<key>clickEvent</key>
							<string>doRegister</string>
						</dict>
						<key>loginBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>rect</key>
							<string>{{290,10},{200,35}}</string>
							<key>title</key>
							<string>登录</string>
							<key>bgImage</key>
							<string>btn_login</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>fontSize</key>
							<string>16</string>
							<key>titleColor</key>
							<string>1,1,1,1</string>
							<key>clickEvent</key>
							<string>doLogin</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdView_headView_protrait:</string>
				</dict>
				<key>height</key>
				<string>50</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>accessoryButton</key>
							<dict>
								<key>image</key>
								<string>icon-01</string>
								<key>rect</key>
								<string>{{0,0},{44,44}}</string>
								<key>clickEvent</key>
								<string>doDropdownAccountList</string>
							</dict>
							<key>edit</key>
							<dict>
								<key>type</key>
								<string>edit</string>
								<key>rect</key>
								<string>{{100,0},{100,21}}</string>
								<key>maxChar</key>
								<string>70</string>
								<key>returnKeyType</key>
								<string>4</string>
								<key>keyboardType</key>
								<string>7</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>通行证:</string>
							<key>detailTextLabel</key>
							<string></string>
						</dict>
						<key>strSel_editDone</key>
						<string>userNameContent:</string>
						<key>strSel_keyboardReturn</key>
						<string>gotoNextCell:</string>
						<key>strSel_customCell</key>
						<string>setUserNameContent:</string>
						<key>strSel_textChanged</key>
						<string>userNameTextFieldDidChange:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>type</key>
								<string>edit</string>
								<key>maxChar</key>
								<string>70</string>
								<key>secureTextEntry</key>
								<string>1</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码:</string>
							<key>detailTextLabel</key>
							<string></string>
						</dict>
						<key>strSel_editDone</key>
						<string>passwordContent:</string>
						<key>strSel_keyboardReturn</key>
						<string>doLogin</string>
						<key>strSel_customCell</key>
						<string>setPasswordContent:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdFacilityCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>switch</key>
							<dict>
								<key>clickEvent</key>
								<string>switchAutoLogin:</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>自动登录</string>
							<key>detailTextLabel</key>
							<string></string>
						</dict>
						<key>strSel_customCell</key>
						<string>setSwitchAutoLogin:</string>
					</dict>
				</dict>
				<dict>
					<key>dependShow</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdFacilityCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>switch</key>
							<dict>
								<key>clickEvent</key>
								<string>rememberPassword:</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>记住密码</string>
							<key>detailTextLabel</key>
							<string></string>
						</dict>
						<key>strSel_customCell</key>
						<string>setRememberPassword:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dependShow</key>
			<string>1</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>title</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{38,8},{200,20}}</string>
							<key>content</key>
							<string>其它账号登录</string>
							<key>fontSize</key>
							<string>15</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>35</string>
			</dict>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{174,20},{95,25}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>忘记密码？</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>15</string>
						</dict>
						<key>forgetPassword</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>rect</key>
							<string>{{246,17},{100,33}}</string>
							<key>title</key>
							<string>点击这里找回</string>
							<key>horizenAlign</key>
							<string>left</string>
							<key>vertAlign</key>
							<string>center</string>
							<key>fontSize</key>
							<string>15</string>
							<key>titleColor</key>
							<string>1,1,0,1</string>
							<key>clickEvent</key>
							<string>findPassword</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>height</key>
				<string>50</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>tip</key>
					<string>第三方登录</string>
					<key>height</key>
					<string>60</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>Nd3rdPlfmCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>accessoryType</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
