<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>15</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>12</string>
								<key>placeholder</key>
								<string>输入旧密码</string>
								<key>returnKeyType</key>
								<string>4</string>
								<key>secureTextEntry</key>
								<string>1</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_oldPassword</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>旧密码：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>gotoNextCell</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>12</string>
								<key>placeholder</key>
								<string>输入新密码</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_newPassword</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>新密码：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>modifyPassword</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
