<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>15</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>nextController</key>
					<string>NdCPPersonalInfoCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>个人信息管理</string>
						</dict>
						<key>icon</key>
						<string>icon-more01</string>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdCPAccountSettingCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>通行证管理</string>
						</dict>
						<key>icon</key>
						<string>icon-more02</string>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdCPAuthorizeSettingCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>权限设置</string>
						</dict>
						<key>icon</key>
						<string>icon-more03</string>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdRechargeCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>91豆充值</string>
						</dict>
						<key>icon</key>
						<string>icon-more04</string>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdRecordCategoryController</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>充值消费记录</string>
						</dict>
						<key>icon</key>
						<string>icon-more05</string>
					</dict>
				</dict>
				<dict>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>注销</string>
						</dict>
						<key>icon</key>
						<string>icon-more06</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>nextController</key>
					<string>NdCPCheckUpdateCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>检查更新</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdCPNewFeedBackCtr</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>用户反馈</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdCPAboutUs</string>
					<key>hidesBottomBarWhenPushed</key>
					<string>1</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>关于我们</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
