<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>imgAccessory</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>accessory</string>
			<key>autoResizeFlag</key>
			<string>4,8,32</string>
			<key>rect</key>
			<string>{{0,0},{13,13}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
		</dict>
		<key>imgHead</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>cornerRadius</key>
			<string>8</string>
			<key>rect</key>
			<string>{{10,15},{55,55}}</string>
		</dict>
		<key>labelName</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{75,15},{0,25}}</string>
			<key>bottomRightMargin</key>
			<string>{30,0}</string>
		</dict>
		<key>labelTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>lineNum</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{75,45},{0,35}}</string>
			<key>bottomRightMargin</key>
			<string>{30,0}</string>
		</dict>
	</dict>
	<key>NdExtent</key>
	<dict>
		<key>cellBgColor</key>
		<string>0.725,0.722,0.745,1</string>
		<key>heightDependOrder</key>
		<string>labelName,labelTip</string>
		<key>imgViewAlphaCover</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>alphaCover</string>
			<key>stretchPoint</key>
			<string>{0,1}</string>
			<key>rect</key>
			<string>{{0,0},{0,9}}</string>
		</dict>
		<key>buttonCustom</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage</key>
			<string>buttonGray</string>
			<key>bgImage_stretchPoint</key>
			<string>{100,0}</string>
			<key>rect</key>
			<string>{{0,0},{300,45}}</string>
		</dict>
		<key>tableHeaderView</key>
		<dict>
			<key>NdCtrls</key>
			<dict>
				<key>imgViewLine</key>
				<dict>
					<key>type</key>
					<string>imageView</string>
					<key>image</key>
					<string>lineSharpAngle</string>
					<key>stretchPoint</key>
					<string>{0.5,0}</string>
					<key>autoResizeFlag</key>
					<string>1,2,4,32</string>
					<key>rect</key>
					<string>{{0,0},{0,9}}</string>
					<key>bottomRightMargin</key>
					<string>{0,0}</string>
				</dict>
				<key>btnHead</key>
				<dict>
					<key>type</key>
					<string>button</string>
					<key>clickEvent</key>
					<string>onBtnHeaderView</string>
					<key>autoResizeFlag</key>
					<string>1,2,4,8,16,32</string>
					<key>rect</key>
					<string>{{0,0},{0,0}}</string>
					<key>bottomRightMargin</key>
					<string>{0,0}</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>rect</key>
		<string>{{0,0},{320,88}}</string>
	</dict>
</dict>
</plist>
