<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3RD_CELL_TEXTLABEL</key>
	<string>%@登录</string>
	<key>3RD_CHECK_RETOKEN_FAIL</key>
	<string>验证重新授权失败</string>
	<key>3RD_CTRL_LOGIN_TITLE</key>
	<string>账号登录</string>
	<key>3RD_CTRL_TITLE1</key>
	<string>绑定第三方账号</string>
	<key>3RD_CTRL_TITLE2</key>
	<string>其它账号登录</string>
	<key>3RD_GET_LOGIN_CONFIG_FAIL</key>
	<string>获取登录配置信息失败</string>
	<key>3RD_LOGIN_SUPPORT</key>
	<string>目前只支持%@登录</string>
	<key>3RD_SERVER_CHECK_FAIL</key>
	<string>服务端验证不通过</string>
	<key>3RD_UNBIND_ALERTVIEW_MSG</key>
	<string>解绑后当前账号数据将会丢失！</string>
	<key>3RD_UNBIND_ALERTVIEW_TITLE</key>
	<string>您要取消绑定%@？</string>
	<key>3RD_UNBIND_FORBID</key>
	<string>账号处于登录状态不允许解绑</string>
	<key>ABOUT_US_PAY_TEST</key>
	<string>当前为测试模式
%@</string>
	<key>ABOUT_US_SDK_VERSION</key>
	<string>版本:%@
开发商:91无线</string>
	<key>ABOUT_US_SOFT_VERSION</key>
	<string>软件版本:%@
开发商:%@</string>
	<key>ABOUT_US_UPDATE_TEST</key>
	<string>当前为升级测试模式
%@</string>
	<key>ACCOUNT_SETTING_91ID_LABEL</key>
	<string>91通行证ID：%@</string>
	<key>ACCOUNT_SETTING_BIND_NOW</key>
	<string>立即绑定</string>
	<key>ACCOUNT_SETTING_BING_TIP</key>
	<string>绑定手机送好礼</string>
	<key>ACCOUNT_SETTING_GET_PSW_FAIL</key>
	<string>获取密码状态失败</string>
	<key>ACCOUNT_SETTING_TEXTLABEL_1</key>
	<string>修改密码</string>
	<key>ACCOUNT_SETTING_TEXTLABEL_2</key>
	<string>您尚未设置密码</string>
	<key>ACCOUNT_SETTING_TITLE</key>
	<string>通行证管理</string>
	<key>ACCOUNT_SETTING_UNBIND_TIP</key>
	<string>抱歉，解绑功能正在开发中，暂未开放</string>
	<key>ACCOUNT_SHOULD_NOT_EMPTY</key>
	<string>用户名不能为空</string>
	<key>ACCOUNT_FORMAT_ERROR</key>
	<string>账号格式无效</string>
	<key>AGE_UNIT</key>
	<string>岁</string>
	<key>AGREE_FRIEND_ADD</key>
	<string>您已同意添加%@为好友</string>
	<key>AUTHORIZE_GET_FAIL</key>
	<string>获取权限失败</string>
	<key>AUTHORIZE_HAS_NOT_SET_PSW</key>
	<string>您尚未设置登录密码,请设置登录密码</string>
	<key>AUTHORIZE_HAS_SET_PSW</key>
	<string>为保障支付安全，请输入登录密码验证</string>
	<key>AUTHORIZE_TITLE</key>
	<string>权限设置</string>
	<key>BD_ACCOUNT_HAS_BIND_PHONE_NUM</key>
	<string>重复绑定，账号已经绑定其他手机号</string>
	<key>BD_DIFFERENT_PHONE_NUM</key>
	<string>手机号码前后不一致</string>
	<key>BD_HAS_LOTTERY</key>
	<string>已经抽过奖</string>
	<key>BD_INVALID_PHONE_NUM</key>
	<string>手机号码格式无效</string>
	<key>BD_OUT_NUM_SMS_SENDED</key>
	<string>短信发送次数过多</string>
	<key>BD_PHONE_NUM_DIDNOT_BIND</key>
	<string>账号未绑定手机号码，无法使用该功能</string>
	<key>BD_PHONE_NUM_HAS_BIND_ACCOUNT</key>
	<string>手机号已经绑定其他账号</string>
	<key>BD_PHONE_VERIFY_FAIL</key>
	<string>未通过手机号码验证</string>
	<key>BD_SMS_VERIFY_CODE_OUT_EXPIRE</key>
	<string>短信验证码过期，请重新获取</string>
	<key>BD_UNFIT_LOTTERY_CONDITION</key>
	<string>不符合抽奖条件</string>
	<key>BD_USER_NOT_EXIST</key>
	<string>账号不存在</string>
	<key>BD_VIP_CANNOT_RESTE_ON_PHONE</key>
	<string>VIP用户无法使用手机找回密码</string>
	<key>BD_WRONG_BIND_PHONE_NUM</key>
	<string>输入的手机号与绑定的手机号不一致，请重新输入</string>
	<key>BD_WRONG_SMS_VERIFY_CODE</key>
	<string>短信验证码错误</string>
	<key>BIND_ACCOUNT_NOT_EXIST</key>
	<string>91通行证账号不存在或停用</string>
	<key>BIND_PHONE_91_BIND_SUCCESS</key>
	<string>91通行证%@已成功绑定手机%@</string>
	<key>BIND_PHONE_91_UNBIND_SUCCESS</key>
	<string>解除绑定后将无法享受更多贴心服务，建议您尽快再次绑定！</string>
	<key>BIND_PHONE_91_UNBIND_SUCCESS_TITLE</key>
	<string>成功解除绑定！</string>
	<key>BIND_PHONE_ACCOUNT_VERIFY_FAIL</key>
	<string>账号验证失败</string>
	<key>BIND_PHONE_CANNOT_FIND_SIM</key>
	<string>未检测到SIM卡</string>
	<key>BIND_PHONE_CODE_SENDING</key>
	<string>您的手机将收到一条包含验证码的短信，请注意查收。</string>
	<key>BIND_PHONE_GET_SMS_VERIFY_FAIL</key>
	<string>获取验证码失败</string>
	<key>BIND_PHONE_LOTTERY_FAIL</key>
	<string>抽奖失败</string>
	<key>BIND_PHONE_NUM_FAIL</key>
	<string>绑定手机号码失败 </string>
	<key>BIND_PHONE_NUM_INVALID</key>
	<string>手机号码格式不对，请重新输入</string>
	<key>BIND_PHONE_NUM_SUCCESS</key>
	<string>绑定手机号码成功</string>
	<key>BIND_PHONE_NUM_TITLE</key>
	<string>绑定手机</string>
	<key>BIND_PHONE_PLEASE_INPUT</key>
	<string>请输入手机号</string>
	<key>BIND_PHONE_SHOULD_NOT_EMPTY</key>
	<string>手机号不能为空</string>
	<key>BIND_PHONE_TIP_FORMAT</key>
	<string>%@已绑定手机%@</string>
	<key>BIND_PHONE_UNBIND_TITLE</key>
	<string>解除绑定</string>
	<key>CALL_PHONE</key>
	<string>拨打电话</string>
	<key>CANCEL</key>
	<string>取消</string>
	<key>CANNOT_CALL</key>
	<string>该设备不支持拨打电话</string>
	<key>CANNOT_SMS_PAY_HINT</key>
	<string>您当前的手机号为%@开头，目前暂不支持使用短信进行充值，请使用其他充值方式充值。</string>
	<key>CAN_NOT_SEND_MSG_TO_SELF</key>
	<string>不能给自己发送消息</string>
	<key>CHECK_BUY_BUY_FAIL</key>
	<string>购买失败</string>
	<key>CHECK_BUY_ERROR_NET_SERVER</key>
	<string>由于网络或服务器原因，购买失败</string>
	<key>CHECK_BUY_ORDER_DUPLICATE</key>
	<string>订单号重复</string>
	<key>CHECK_BUY_PSW_HAS_NOT_CHECK</key>
	<string>密码未校验</string>
	<key>CHECK_BUY_TITLE</key>
	<string>确认订单</string>
	<key>CHECK_UPDATE_FAIL</key>
	<string>检查版本信息失败</string>
	<key>CHECK_UPDATE_FIND_NEW_VERSION</key>
	<string>发现新版本您可以更新</string>
	<key>CHECK_UPDATE_NO_NEED</key>
	<string>当前为最新版本，无需更新</string>
	<key>CHECK_UPDATE_TITLE</key>
	<string>检查更新</string>
	<key>CHECK_UPDATE_VERSION_INFO_1</key>
	<string>最新版本:%@
软件大小:%@
开发商:%@</string>
	<key>CHECK_UPDATE_VERSION_INFO_2</key>
	<string>最新版本:%@
开发商:%@</string>
	<key>CLEAR_ALL_ACCOUNTS</key>
	<string>清空账号</string>
	<key>CLOSE</key>
	<string>关闭</string>
	<key>CONSUME_RECORD</key>
	<string>消费记录</string>
	<key>CONTENT_INVALID</key>
	<string>内容不合法</string>
	<key>CONTENT_LENGTH_INVALID</key>
	<string>消息长度太长</string>
	<key>CUSTOM_TAG_CLIENT</key>
	<string>该标签为客户端标签</string>
	<key>CUSTOM_TAG_INVALID_COMMAND</key>
	<string>无效的标签指令</string>
	<key>CUSTOM_TAG_INVALID_CONTENT</key>
	<string>无效的标签文本</string>
	<key>CUSTOM_TAG_PARAM_NIVALID</key>
	<string>自定义标签参数无效</string>
	<key>CUSTOM_TAG_PARAM_NOT_ENOUGH</key>
	<string>自定义标签参数不足</string>
	<key>CUSTOM_TAG_REQUEST_FAIL</key>
	<string>响应自定义标签请求失败</string>
	<key>DATE_ALL</key>
	<string>所有时间</string>
	<key>DATE_FORMAT_RECORDS</key>
	<string>%d 年  %02d月</string>
	<key>DATE_THIS_WEEK</key>
	<string>本周</string>
	<key>DATE_TODAY</key>
	<string>今天</string>
	<key>DELETE_FAIL</key>
	<string>删除失败</string>
	<key>DELETE_FRIEND</key>
	<string>删除好友</string>
	<key>DELETE_SUCCESS</key>
	<string>删除成功</string>
	<key>DISAGREE_FRIEND_ADD</key>
	<string>您已拒绝了%@的好友请求</string>
	<key>DONE</key>
	<string>完成</string>
	<key>DOWNLOAD_APP_HINT</key>
	<string>准备开始安装%@
软件版本V%@,文件大小%@
</string>
	<key>DOWNLOAD_APP_HINT_2</key>
	<string>准备开始安装%@</string>
	<key>EMPTY_ACCOUNT_LIST</key>
	<string>账号列表为空</string>
	<key>EMPTY_RECORD_CONSUME</key>
	<string>暂无消费记录</string>
	<key>EMPTY_RECORD_RECHARGE</key>
	<string>本月暂无充值记录</string>
	<key>FANGLE_NO_DATA</key>
	<string>今日风平浪静，无事发生。</string>
	<key>FANGLE_NO_DATA_TA</key>
	<string>TA还没有新鲜事</string>
	<key>FANGLE_VIEW</key>
	<string>查看 %@</string>
	<key>FANGLE_VIEW_GAME</key>
	<string>查看游戏 %@</string>
	<key>FANGLE_VIEW_SPACE</key>
	<string> 查看 %@ </string>
	<key>FEED_BACK_DETAIL</key>
	<string>请填写详细描述</string>
	<key>FEED_BACK_DETAIL_LENGTH</key>
	<string>为了更快的回复您的问题，您的字数需要超过10个哦。</string>
	<key>FEED_BACK_DEVELOP_BY</key>
	<string> (由%@开发)</string>
	<key>FEED_BACK_FAIL</key>
	<string>提交失败</string>
	<key>FEED_BACK_LIMITED_WORD</key>
	<string>字数超限。应在%d字以内。</string>
	<key>FEED_BACK_SHOULD_NOT_EMPTY</key>
	<string>发送内容不能全部为空格或者换行字符，请重新输入</string>
	<key>FEED_BACK_PHONE_SHOULD_NOT_EMPTY</key>
	<string>请填写联系电话</string>
	<key>FEED_BACK_PHONE_SHOULD_NOT_CORRECT</key>
	<string>请填写正确的电话号码</string>
	<key>FEED_BACK_TITLE</key>
	<string>意见反馈</string>
	<key>FEED_BACK_TIP_CONTENT</key>
	<string>输入文字...</string>
	<key>FM_CONSUME_TIP</key>
	<string>%@</string>
	<key>FM_CONSUME_TITLE</key>
	<string>消费91豆 %@个</string>
	<key>FM_RECHARGE_TIP</key>
	<string>%@</string>
	<key>FM_RECHARGE_TITLE</key>
	<string>充值91豆 %@个</string>
	<key>FRIENDS_APP_USER_TITLE</key>
	<string>看看谁在玩</string>
	<key>FRIENDS_FIND_PAY_REPLACE</key>
	<string>找好朋友代付款</string>
	<key>FRIENDS_HAS_NOT_CHOOSE</key>
	<string>尚未选择好友</string>
	<key>FRIENDS_HAS_NO_TIP</key>
	<string>你还没有好友，
快去邀请好友吧:)</string>
	<key>FRIENDS_HAS_NO_TIP_SINGLE_LINE</key>
	<string>你还没有好友，快去邀请好友吧:)</string>
	<key>FRIENDS_NO_MAN_PLAY_GAME</key>
	<string>内牛满面～～没有人玩游戏</string>
	<key>FRIENDS_ORDER_HAS_REJECTED</key>
	<string>该订单已取消</string>
	<key>FRIENDS_PLEASE_CHOOSE</key>
	<string>请选择好友</string>
	<key>FRIENDS_REJECT_REQUEST</key>
	<string>取消代付</string>
	<key>FRIENDS_REJECT_REQUEST_FORMAT</key>
	<string>您已拒绝了%@的代付请求</string>
	<key>FRIENDS_SAY_TO_TA_PLACEHOLD</key>
	<string>还要和Ta说下哦～</string>
	<key>GAME_NOT_PLAY_TA</key>
	<string>TA还没有玩游戏</string>
	<key>GET_91BEAN_BALANCE_ERROR</key>
	<string>查询余额失败</string>
	<key>GUEST_USER_NOT_PERMITTED</key>
	<string>游客没有权限访问</string>
	<key>HEAD_PHOTO_SET</key>
	<string>设置头像</string>
	<key>HEAD_PHOTO_UPLOAD_FAIL</key>
	<string>上传失败</string>
	<key>HEAD_PHOTO_UPLOAD_SUCCESS</key>
	<string>上传成功</string>
	<key>INSTALL_FAIL</key>
	<string>安装失败</string>
	<key>INVALID_ACCOUNT_FORMAT</key>
	<string>应为4－70个字符，限小写字母、数字、邮箱账号</string>
	<key>INVALID_NICKNAME_FORMAT</key>
	<string>应为10个字符以内，支持中文</string>
	<key>INVALID_PASSWORD_FORMAT</key>
	<string>应为6－12个字符，限字母、数字，区分大小写</string>
	<key>INVALID_TRUENAME_FORMAT</key>
	<string>真实姓名应为24个字符以内</string>
	<key>INVITE_CHOOSE_TIP</key>
	<string>小提示：点击好友进行选择，一次可邀请10名</string>
	<key>INVITE_HAS_NOT_CHOOSE_FRIEND</key>
	<string>您还未选择任何好友</string>
	<key>INVITE_LIMIT_TIP</key>
	<string>本次邀请人数已超10人，您可以下次再邀请</string>
	<key>INVITE_MAXCOUNT_140</key>
	<string>不能超过140个字</string>
	<key>INVITE_MAXCOUNT_300</key>
	<string>不能超过300个字</string>
	<key>INVITE_NO_FRIENDS</key>
	<string>太懒了吧，一个好友都没有！</string>
	<key>INVITE_NO_NEED</key>
	<string>暂无需要邀请的好友</string>
	<key>LABEL_BALANCE</key>
	<string>余额：</string>
	<key>LAST_UPDATE_FM</key>
	<string>最后更新:  %@</string>
	<key>LEADER_BOARD_SHARE_MY</key>
	<string>分享我的成就</string>
	<key>LEADER_FRIEND</key>
	<string>朋友</string>
	<key>LEADER_NO_RANK</key>
	<string>当前用户暂时没有排名！</string>
	<key>LEADER_NO_SCORE_SELF</key>
	<string>您还没有分数</string>
	<key>LEADER_NO_SCORE_TA</key>
	<string>TA还没有分数</string>
	<key>LEADER_PLAYER</key>
	<string>玩家</string>
	<key>LEADER_RANK_AFTER</key>
	<string>,排名后%d%%</string>
	<key>LEADER_RANK_BEFORE</key>
	<string>,排名前%d%%</string>
	<key>LEADER_RANK_SOME</key>
	<string>,排名第%d名</string>
	<key>LEADER_TOTAL</key>
	<string>共有%d位</string>
	<key>LOCAL_ALBUM</key>
	<string>本地相册</string>
	<key>LOGIN</key>
	<string>登录</string>
	<key>LOOKUP_RECORDS_DATE</key>
	<string>按月浏览</string>
	<key>MESSAGE_NO_DATA</key>
	<string>暂时没有消息，记得常和好友联系哦</string>
	<key>MODIFY_FAIL</key>
	<string>修改失败</string>
	<key>MODIFY_SUCCESS</key>
	<string>修改成功</string>
	<key>MORE</key>
	<string>更多</string>
	<key>MORE_EXTEND</key>
	<string>更多...</string>
	<key>MORE_PAGE_MESSAGE</key>
	<string>更多记录⋯⋯</string>
	<key>MORE_PAGE_RECORD</key>
	<string>更多记录⋯⋯</string>
	<key>MSG_CHECK_CONTENT_CANNOT_NULL</key>
	<string>内容不能为空</string>
	<key>MSG_CHECK_CONTENT_LENGTH_LIMIT</key>
	<string>限制%d个字符</string>
	<key>MSG_CHECK_CONTENT_OVER_LIMIT</key>
	<string>您输入的内容太长 :-(  已经超出了%d个字符</string>
	<key>MSG_CHECK_CONTENT_LIMIT_MSG</key>
	<string>内容不能全部为空格或者换行字符，请重新输入</string>
	<key>MSG_CHECK_CONTENT_TOO_LONG</key>
	<string>内容超长</string>
	<key>MSG_URL_RG_PATTERN</key>
	<string>http://([0-9a-zA-Z-]+\.)+[!-~]*</string>
	<key>NAV_RETURN</key>
	<string>返回</string>
	<key>NAV_TITLE_91SNS_LOGIN</key>
	<string>91社区登录</string>
	<key>NAV_TITLE_91SNS_SERVICE_ARTICLE</key>
	<string>91社区服务条款</string>
	<key>NAV_TITLE_ABOUT_US</key>
	<string>关于我们</string>
	<key>NAV_TITLE_ACCOUNT_MANAGE</key>
	<string>账号管理</string>
	<key>NAV_TITLE_PAY_DETAIL</key>
	<string>消费记录</string>
	<key>NAV_TITLE_RECHARGE_DETAIL</key>
	<string>充值记录</string>
	<key>NAV_TITLE_REG_91</key>
	<string>快速注册</string>
	<key>NAV_TITLE_REG_PHONE</key>
	<string>手机注册</string>
	<key>NAV_TITLE_SET_PASSWORD</key>
	<string>设置密码</string>
	<key>ND_91BIND3RD_SUCCESS_FORMAT</key>
	<string>您的91账号(%@)和%@账号成功绑定！</string>
	<key>ND_91SNS</key>
	<string>91社区</string>
	<key>ND_ACCOUNT_NOT_ACTIVE</key>
	<string>账号未在商城开户，无法支付</string>
	<key>ND_ACHIEVEMENT</key>
	<string>成就榜</string>
	<key>ND_ADD_FRIEND_DENY</key>
	<string>对方拒绝添加为好友</string>
	<key>ND_ADD_FRIEND_SUCCESS</key>
	<string>添加成功</string>
	<key>ND_ADD_TOBE_FRIEND</key>
	<string>加为好友</string>
	<key>ND_ADD_TOBE_FRIEND_TIP</key>
	<string>请输入验证信息（不超过20字哦～）</string>
	<key>ND_ADD_TOBE_FRIEND_WAIT</key>
	<string>好友请求发送出去啦！
等待对方验证吧！</string>
	<key>ND_ADD_TOBE_FRIEND_WAIT_MSG</key>
	<string>发送请求成功，请等待对方验证。</string>
	<key>ND_ALL_LB</key>
	<string>全部</string>
	<key>ND_ALREADY_BE_YOUR_FRIEND</key>
	<string>用户已经是您的好友</string>
	<key>ND_ARRIVE_MAX_FRIEND_NUM</key>
	<string>您或对方到达好友个数上限，需要删除好友</string>
	<key>ND_BIND</key>
	<string>绑定</string>
	<key>ND_BIND_FAIL</key>
	<string>绑定失败</string>
	<key>ND_BIND_SUCCESS</key>
	<string>绑定成功</string>
	<key>ND_COMMIT</key>
	<string>提交</string>
	<key>ND_SERVICE_REPLY</key>
	<string>客服答复</string>
	<key>ND_SERVICE_REPLY_TIP_NEW</key>
	<string>新回复</string>
	<key>ND_MY_FEEDBACK</key>
	<string>我的反馈</string>
	<key>ND_NO_FEEDBACK_FAQ</key>
	<string>暂无反馈记录</string>
	<key>ND_MY_FEEDBACK_FAQ</key>
	<string>常见问题</string>
	<key>ND_FEEDBACK_NO_FAQ</key>
	<string>暂无问题</string>
	<key>ND_FEEDBACK_INCOMPLETED</key>
	<string>处理中</string>
	<key>ND_FEEDBACK_UNEVALUATED</key>
	<string>未评价</string>
	<key>ND_FEEDBACK_EVALUATED</key>
	<string>已评价</string>
	<key>ND_SERVICE_SATISFIED</key>
	<string>满意</string>
	<key>ND_SERVICE_GENERALFEELING</key>
	<string>问题未解决</string>
	<key>ND_SERVICE_UNSATISFIED</key>
	<string>态度不满意</string>
	<key>ND_USER_FEEDBACK</key>
	<string>我要反馈</string>
	<key>ND_USER_FEEDBACK_TIP0</key>
	<string>亲，上面常见问题，可能有您的答案哦</string>
	<key>ND_USER_FEEDBACK_TIP1</key>
	<string>请选择问题类型</string>
	<key>ND_USER_FEEDBACK_TIP2</key>
	<string>您遇到的问题</string>
	<key>ND_USER_FEEDBACK_TIP3</key>
	<string>您的联系电话</string>
	<key>ND_SERVICE_REPLY_TIP1</key>
	<string>您对我的服务是否满意？</string>
	<key>ND_SERVICE_REPLY_TIP2</key>
	<string>麻烦亲抽一点时间帮我打一下分哦</string>
	<key>ND_SERVICE_PHONE</key>
	<string>客服电话：</string>
	<key>ND_SERVICE_TIME</key>
	<string>服务时间：</string>
	<key>ND_DONE</key>
	<string>完成</string>
	<key>ND_EDIT_MOOD</key>
	<string>编辑心情</string>
	<key>ND_EDIT_MOOD_FAIL</key>
	<string>编辑心情失败</string>
	<key>ND_EDIT_MOOD_SUCCESS</key>
	<string>编辑心情成功</string>
	<key>ND_EDIT_MOOD_TIP</key>
	<string>不要超过30个字哦～</string>
	<key>ND_FANGLE</key>
	<string>新鲜事</string>
	<key>ND_FB_TIP_CONTENT</key>
	<string>请输入您的意见，我们将不断改进</string>
	<key>ND_FB_TIP_CONTENT_NEW</key>
	<string>输入要求最少10字</string>
	<key>ND_FB_TIP_SUCCESS</key>
	<string>非常感谢您的支持！我们会尽快给您回复，请注意查询91社区系统消息。</string>
	<key>ND_FB_TIP_SUCCESS_NEW</key>
	<string>谢谢您的回复，我们将在3个工作日之内给您回复，请注意查询回复结果。</string>
	<key>ND_FB_TIP_SUCCESS_SATISFIED</key>
	<string>谢谢亲的肯定！我一定再接再厉为您提供更优质的服务。</string>
	<key>ND_FB_TIP_SUCCESS_UNSOLVED</key>
	<string>谢谢亲的反馈！您可以继续说明问题。</string>
	<key>ND_FB_TIP_SUCCESS_UNSATISFIED</key>
	<string>谢谢亲的反馈！我一定尽力改正，期待下次给我好评哦~</string>
	<key>ND_FB_TIP_USER_PHONE</key>
	<string>您的联系电话，以便给您回复</string>
	<key>ND_FOLLOW_MICROBLOG</key>
	<string>活动随心享，关注有惊喜。是否立即关注%@官方微博?</string>
	<key>ND_FRIEND</key>
	<string>好友</string>
	<key>ND_FRIEND_LB</key>
	<string>好友</string>
	<key>ND_GAME</key>
	<string>精品</string>
	<key>ND_HAS_BIND</key>
	<string>已绑定</string>
	<key>ND_HAS_INVITED</key>
	<string>已邀请</string>
	<key>ND_HAS_NOT_BIND</key>
	<string>未绑定</string>
	<key>ND_HOME</key>
	<string>首页</string>
	<key>ND_INSTALL</key>
	<string>安装</string>
	<key>ND_INVITE</key>
	<string>邀请</string>
	<key>ND_INVITE_FAIL</key>
	<string>邀请失败</string>
	<key>ND_INVITE_FRIEND</key>
	<string>邀请好友</string>
	<key>ND_INVITE_FRIEND_91</key>
	<string>邀请91好友</string>
	<key>ND_INVITE_FRIEND_TIP</key>
	<string>邀请好友成功</string>
	<key>ND_INVITE_LOCAL_FORMAT</key>
	<string>我在玩%@，相当好玩，赶快来玩吧～</string>
	<key>ND_LEADERBOARD</key>
	<string>排行榜</string>
	<key>ND_LOADING_FAIL</key>
	<string>加载失败</string>
	<key>ND_LOGOUT</key>
	<string>注销</string>
	<key>ND_MSG</key>
	<string>消息</string>
	<key>ND_MY_FRIEND</key>
	<string>我的好友</string>
	<key>ND_MY_MSG</key>
	<string>  我的消息  </string>
	<key>ND_NEW_MSG</key>
	<string>新消息</string>
	<key>ND_NOTE_LENGTH_INVALID</key>
	<string>备注长度不合法</string>
	<key>ND_NO_DATA</key>
	<string>哟唷，暂时没有数据</string>
	<key>ND_OVERTIME</key>
	<string>登录超时，请重新登录</string>
	<key>ND_PAY_PSW_PLACEHOLDER</key>
	<string>请输入支付密码</string>
	<key>ND_PAY_PSW_TIP</key>
	<string>请输入支付密码，未设置支付密码时输入91通行证登录密码</string>
	<key>ND_PAY_SET_PSW_TIP</key>
	<string>请设置91通行证密码，初始支付密码与91通行证密码一致</string>
	<key>ND_PICKER_FRIEND_PROMPT</key>
	<string>选取好友来发送消息</string>
	<key>ND_PLATFORM</key>
	<string>平台</string>
	<key>ND_RECHARGE</key>
	<string>充值</string>
	<key>ND_SEARCH</key>
	<string>搜索</string>
	<key>ND_SEARCH_USER</key>
	<string>查找用户</string>
	<key>ND_SEARCH_WITH_TYPE</key>
	<string>按分类查找用户</string>
	<key>ND_SELF</key>
	<string>我</string>
	<key>ND_SEND</key>
	<string>发送</string>
	<key>ND_SEND_FAILED</key>
	<string>发送请求失败</string>
	<key>ND_SEND_MSG</key>
	<string>发送消息</string>
	<key>ND_SEND_MSG_FAIL</key>
	<string>发送消息失败</string>
	<key>ND_SEND_MSG_TIP</key>
	<string>不要超过140个字哦～</string>
	<key>ND_SERVER_ERROR</key>
	<string>服务器数据错误</string>
	<key>ND_SERVER_FAIL</key>
	<string>服务端处理失败</string>
	<key>ND_SETTING_FAIL</key>
	<string>设置失败</string>
	<key>ND_SETTING_SUCCESS</key>
	<string>设置成功</string>
	<key>ND_SHARED</key>
	<string>分享</string>
	<key>ND_SHARED_SUCCESSFUL</key>
	<string>分享成功啦！</string>
	<key>ND_SYS_MSG</key>
	<string>  系统消息  </string>
	<key>ND_TIP</key>
	<string>提示</string>
	<key>ND_TITLE_FRIEND_LIST</key>
	<string>%@的好友</string>
	<key>ND_TITLE_GAME_LIST</key>
	<string>%@的游戏</string>
	<key>ND_UNBIND_FAIL</key>
	<string>解绑失败</string>
	<key>ND_UNKNOWN_ERROR</key>
	<string>未知错误</string>
	<key>ND_USER_DETAIL_FRIEND</key>
	<string>好友资料</string>
	<key>ND_USER_DETAIL_MOOD_FRIEND</key>
	<string>这家伙很懒，什么都没留下。</string>
	<key>ND_USER_DETAIL_MOOD_SELF</key>
	<string>你在想什么呢？快点告诉大家吧！</string>
	<key>ND_USER_DETAIL_STRANGER</key>
	<string>个人资料</string>
	<key>ND_VERIFY_ACCOUNT_PSW_FAIL</key>
	<string>验证账号密码失败</string>
	<key>ND_VERIFY_PAY_PSW_FAIL</key>
	<string>验证支付密码失败</string>
	<key>ND_WEB_ERROR</key>
	<string>网络错误</string>
	<key>ND_WEB_LOADING_FAIL</key>
	<string>网页加载失败</string>
	<key>ND_WEB_RETURN_TIP</key>
	<string>点确定返回</string>
	<key>ND_WEB_SERVER_ERROR</key>
	<string>网络或服务器发生错误</string>
	<key>NET_WORK_ERROR</key>
	<string>网络发生错误，无法连接到服务器，请检查您的网络连接</string>
	<key>NEXT</key>
	<string>下一步</string>
	<key>NICKNAME_FORMAT_ERROR</key>
	<string>昵称格式错误</string>
	<key>NON_WIFI_DOWNLOAD_HINT</key>
	<string>建议您使用91手机助手升级节省手机流量</string>
	<key>NOT_ALLOWED_TO_SEND_MSG</key>
	<string>发送者被禁止发言</string>
	<key>NOT_YET_LOGIN</key>
	<string>请先登录</string>
	<key>NO_TA_FRIEND_TIP</key>
	<string>Ta现在还没有好友</string>
	<key>OPERATION_FAIL</key>
	<string>操作失败</string>
	<key>PARAM_ERROR</key>
	<string>参数错误</string>
	<key>PASSWORD_ENTER_AGAIN_EMPTY</key>
	<string>请输入确认密码</string>
	<key>PASSWORD_ENTER_DIF_REENTER</key>
	<string>两次密码不一致，请重新输入</string>
	<key>PASSWORD_ENTER_OLD</key>
	<string>请输入正确的原密码</string>
	<key>PASSWORD_FIND</key>
	<string>找回密码</string>
	<key>PASSWORD_FORMAT_ERROR</key>
	<string>密码格式错误</string>
	<key>PASSWORD_HAS_NOT_SET</key>
	<string>密码未设置</string>
	<key>PASSWORD_NEW_EMPTY</key>
	<string>请输入新密码</string>
	<key>PASSWORD_NEW_INVALID</key>
	<string>新密码格式不正确</string>
	<key>PASSWORD_OLD_EMPTY</key>
	<string>请输入原密码</string>
	<key>PASSWORD_OLD_INVALID</key>
	<string>原密码格式不正确</string>
	<key>PASSWORD_OLD_WRONG</key>
	<string>原密码不正确</string>
	<key>PASSWORD_PLEASE_ENTER</key>
	<string>请输入密码</string>
	<key>PASSWORD_PLEASE_ENTER_FORMAT</key>
	<string>请输入密码，限6-12个字母、数字</string>
	<key>PASSWORD_RESET</key>
	<string>重置密码</string>
	<key>PASSWORD_RESET_FAIL</key>
	<string>重置密码失败</string>
	<key>PASSWORD_RESET_SUCCESS</key>
	<string>重置密码成功</string>
	<key>PASSWORD_SHOULD_NOT_EMPTY</key>
	<string>密码不能为空</string>
	<key>PASSWORD_SHOULD_NOT_EMPTY_NEW</key>
	<string>新密码不能为空</string>
	<key>PASSWORD_SHOULD_NOT_EMPTY_OLD</key>
	<string>原密码不能为空</string>
	<key>PASSWORD_WRONG</key>
	<string>密码错误</string>
	<key>PERMISSION_NOT_ENOUGH</key>
	<string>他(她)已不是您的好友，禁止当前操作</string>
	<key>PERSONAL_INFO_DATE_LIMIT</key>
	<string>日期不能超过当前时间</string>
	<key>PERSONAL_INFO_INVALID_NAME</key>
	<string>真实姓名不合法</string>
	<key>PERSONAL_INFO_SEX_FEMALE</key>
	<string>女</string>
	<key>PERSONAL_INFO_SEX_FEMALE_SPACE</key>
	<string>  女</string>
	<key>PERSONAL_INFO_SEX_MALE</key>
	<string>男</string>
	<key>PERSONAL_INFO_SEX_MALE_SPACE</key>
	<string>  男</string>
	<key>PERSONAL_INFO_SEX_SECRET_SPACE</key>
	<string>  保密</string>
	<key>PERSONAL_INFO_SEX_UNLIMITED_SPACE</key>
	<string>  不限</string>
	<key>PERSONAL_INFO_TITLE</key>
	<string>个人信息管理</string>
	<key>PERSONAL_INFO_UNLIMITED</key>
	<string>不限</string>
	<key>PHONE_BINDING_FAILURE</key>
	<string>很抱歉！绑定手机号失败</string>
	<key>PHONE_BINDING_SUCCESS</key>
	<string>恭喜您！成功绑定手机号</string>
	<key>PHOTO_SIZE_LIMIT</key>
	<string>图片超过服务器指定的大小</string>
	<key>RECHARGE_RECORD</key>
	<string>充值记录</string>
	<key>RECHARGE_SMS_FAIL</key>
	<string>充值短信发送失败</string>
	<key>RECORD_TITLE</key>
	<string>充值消费记录</string>
	<key>REGISTER</key>
	<string>注册</string>
	<key>REGISTER_CODE_HAS_SEND</key>
	<string>验证码已经发出，请注意查收</string>
	<key>REGISTER_ENTER_CHECK_CODE</key>
	<string>请输入验证码</string>
	<key>REGISTER_GET_CODE_FAIL</key>
	<string>获取失败</string>
	<key>REGISTER_GET_PRE_ACCOUNT_FAIL</key>
	<string>预取注册账号失败</string>
	<key>REGISTER_PHONE_EMPTY</key>
	<string>手机号码不能为空</string>
	<key>REGISTER_SMS_HINT</key>
	<string>首次注册需要发送一条注册短信，由运营商收取正常短信通讯费,不含信息费。</string>
	<key>REGVIEW_AGREE_PROTOCOL_HEAD</key>
	<string>注册必须同意注册协议</string>
	<key>SAVE_FAIL</key>
	<string>保存失败</string>
	<key>SAVE_SUCCESS</key>
	<string>保存成功</string>
	<key>SEARCH_NO_DATA</key>
	<string>抱歉，没有找到相关记录</string>
	<key>SEARCH_NO_FRIEND</key>
	<string>你没有可能认识的朋友，
快去邀请好友吧:)</string>
	<key>SENDING_RECHARGE_SMS</key>
	<string>正在发送充值短信</string>
	<key>SERVICE_PHONE_DIAL</key>
	<string>拨打客服电话</string>
	<key>SERVICE_PHONE_HINT</key>
	<string>客服电话: %@</string>
	<key>SERVICE_PHONE_NO</key>
	<string>暂无客服电话</string>
	<key>SESSION_ID_INVALID</key>
	<string>会话信息已过期 </string>
	<key>SHARE_ACCOUNT_FORMAT</key>
	<string>账号%@</string>
	<key>SHARE_BIND_MORE_ACCOUNT</key>
	<string>绑定更多账号，和好友齐分享</string>
	<key>SHARE_CONTENT_LIMIT</key>
	<string>分享内容不能超过%d字</string>
	<key>SHARE_DELETE_PHOTO</key>
	<string>删除图片</string>
	<key>SHARE_FOLLOW_NOW</key>
	<string>立即关注</string>
	<key>SHARE_NEED_LOGIN_OR_BIND</key>
	<string>您需要登录或者绑定其它账号</string>
	<key>SHARE_PLATFORM</key>
	<string>请指定要分享的平台</string>
	<key>SHARE_THANK_FOR_FOLLOW</key>
	<string>感谢您的关注！</string>
	<key>SHARE_TO_FORMAT</key>
	<string>分享到%@</string>
	<key>STATE_NORMAL_LOGIN</key>
	<string>当前非游客登录账号</string>
	<key>SURE</key>
	<string>确定</string>
	<key>TAKE_PICTURE_IMMEDIATELY</key>
	<string>马上照相</string>
	<key>TIP_3RD_PLFM_FAILED</key>
	<string>下载账号列表失败</string>
	<key>TIP_3RD_PLFM_NOT_SUPPORTED</key>
	<string>暂不支持其它账号登录</string>
	<key>TIP_LOADING</key>
	<string>加载中⋯</string>
	<key>TIP_NORMAL_REFRESH</key>
	<string>下拉可以刷新...</string>
	<key>TIP_NOT_LOGIN_3RD</key>
	<string>暂不支持%@登录</string>
	<key>TIP_NO_DATA</key>
	<string>没有相关数据</string>
	<key>TIP_PULL_REFRESH</key>
	<string>松开即可刷新...</string>
	<key>TRUENAME_FORMAT_ERROR</key>
	<string>真实姓名格式不正确</string>
	<key>TRY_LOGIN</key>
	<string>登录中...</string>
	<key>UNIT_CENT</key>
	<string>分</string>
	<key>UPDATE</key>
	<string>更新</string>
	<key>USER_CANCEL_LOGIN</key>
	<string>您已取消登录</string>
	<key>USER_LOGOUT</key>
	<string>您已注销</string>
	<key>USER_NOT_EXIST</key>
	<string>接收方不存在</string>
	<key>USE_91_TO_INSTALL</key>
	<string>建议您使用91手机助手更新该应用</string>
	<key>VERSION_UPDATE_ING</key>
	<string>正在检查版本信息</string>
	<key>VERSION_UPDATE_MSG</key>
	<string>发现新版本 V%@ / %@</string>
	<key>VERSION_UPDATE_NOW</key>
	<string>立即更新</string>
	<key>VERSION_UPDATE_REQUIRED_MSG</key>
	<string>发现新版本 V%@ / %@。本次更新为强制更新，请您立即升级版本，否则软件将无法正常运行！</string>
	<key>VERSION_UPDATE_TITLE</key>
	<string>升级提示</string>
	<key>VERSION_UPDATE_UPDATEING</key>
	<string>程序正在更新，请稍候</string>
	<key>VG_BUY_FAILED</key>
	<string>商品购买失败</string>
	<key>VG_BUY_SUCCESS</key>
	<string>商品购买成功</string>
	<key>VG_DETAIL_AUTH_DAY</key>
	<string>%d天</string>
	<key>VG_DETAIL_AUTH_TIMES</key>
	<string>%d次(到期后商品自动失效)</string>
	<key>VG_DETAIL_COUNT_INVALID</key>
	<string>商品数量不合法</string>
	<key>VG_DETAIL_COUNT_NOT_ENOUGH</key>
	<string>商品剩余量不足</string>
	<key>VG_DETAIL_INPUT_NUMBER</key>
	<string>请输入数字</string>
	<key>VG_DETAIL_LABEL</key>
	<string>商品详情：</string>
	<key>VG_DETAIL_LIMIT_PER_USER</key>
	<string>每个ID限购%d%@)</string>
	<key>VG_DETAIL_PRICE_INVALID</key>
	<string>商品价格无效</string>
	<key>VG_DETAIL_TITLE</key>
	<string>商品详情</string>
	<key>VG_DETAIL_TOTAL_PRICE_INVALID</key>
	<string>购买商品的总额不合法</string>
	<key>VG_GOODS_INFO_FAILED</key>
	<string>无法获取该商品信息</string>
	<key>VG_MALL</key>
	<string>商城</string>
	<key>VG_MONEY_TYPE_FAILED</key>
	<string>无法获取币种信息</string>
	<key>VG_NO_GOOD_REVEAL</key>
	<string>没有可展示的商品</string>
	<key>VG_ORDER_FAILED</key>
	<string>请求订单失败</string>
	<key>VG_PAY_FAILED</key>
	<string>虚拟商品支付请求失败</string>
	<key>VG_PRICE_NAME</key>
	<string>91豆</string>
	<key>VG_PRICE_UNIT</key>
	<string>个</string>
	<key>AP_LOADING</key>
	<string>正在努力加载中⋯⋯</string>
	<key>AP_LOAD_FAILED</key>
	<string>哎呀～出错啦！</string>
	<key>AP_HAS_ALL_INSTALLED</key>
	<string>矮油～原来你是传说中的玩机达人，全部应用已被你收入囊中！</string>
	<key>AP_TITLE</key>
	<string>精品游戏推荐</string>
	<key>AP_DOWNLOAD_FAILED</key>
	<string>无法进行下载</string>
</dict>
</plist>
