<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>bgImage</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>NdSearchBarBg</string>
			<key>index</key>
			<string>-10</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{0,0},{0,0}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
		<key>bgEdit</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>NdEditBg</string>
			<key>stretchPoint</key>
			<string>{0.5,0.5}</string>
			<key>index</key>
			<string>-1</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{8,4},{0,0}}</string>
			<key>bottomRightMargin</key>
			<string>{78,4}</string>
		</dict>
		<key>edit</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>fontSize</key>
			<string>17</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{18,8},{0,100}}</string>
			<key>bottomRightMargin</key>
			<string>{88,6}</string>
			<key>borderStyle</key>
			<string>0</string>
		</dict>
		<key>btnSend</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage</key>
			<string>NdBtnSend</string>
			<key>title</key>
			<string>发送</string>
			<key>autoResizeFlag</key>
			<string>4,32</string>
			<key>rect</key>
			<string>{{0,0},{62,25}}</string>
			<key>bottomRightMargin</key>
			<string>{8,8}</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>rect</key>
		<string>{{0,0},{320,40}}</string>
	</dict>
</dict>
</plist>
