<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowHeight</key>
	<string>44</string>
	<key>sectionHeaderHeight</key>
	<string>8</string>
	<key>sectionFooterHeight</key>
	<string>8</string>
	<key>tableFooterHeight</key>
	<string>16</string>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>头像，心情</string>
			<key>headerView</key>
			<dict>
				<key>height</key>
				<string>71</string>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>imgViewHead</key>
						<dict>
							<key>type</key>
							<string>imageView</string>
							<key>notStretchWithPoint</key>
							<string>1</string>
							<key>cornerRadius</key>
							<string>8</string>
							<key>autoResizeFlag</key>
							<string>1,8</string>
							<key>rect</key>
							<string>{{37,16},{55,55}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
						<key>btnMoodBg</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>bgImage</key>
							<string>moodBg</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>clickEvent</key>
							<string>onBtnMood:</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{98,16},{0,55}}</string>
							<key>bottomRightMargin</key>
							<string>{37,0}</string>
							<key>index</key>
							<string>-10</string>
						</dict>
						<key>labelMood</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>content</key>
							<string></string>
							<key>textColor</key>
							<string>0,0,0,1</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{108,23},{0,40}}</string>
							<key>bottomRightMargin</key>
							<string>{63,0}</string>
							<key>index</key>
							<string>1</string>
						</dict>
						<key>imgViewTriangle</key>
						<dict>
							<key>type</key>
							<string>imageView</string>
							<key>image</key>
							<string>icon_enter</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>rect</key>
							<string>{{0,37},{12,12}}</string>
							<key>bottomRightMargin</key>
							<string>{48,0}</string>
							<key>index</key>
							<string>2</string>
						</dict>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdView_headView:</string>
				</dict>
			</dict>
			<key>footerView</key>
			<dict>
				<key>height</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>tip</key>
			<string>设置备注，查看资料</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>设置备注</string>
						</dict>
					</dict>
					<key>dependShow</key>
					<string>1</string>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>查看资料</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>成就榜，排行榜，游戏</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>成就榜</string>
						</dict>
						<key>icon</key>
						<string>icon-game01</string>
						<key>strSel_customCell</key>
						<string>customCell_achievement:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>排行榜</string>
						</dict>
						<key>icon</key>
						<string>icon-game02</string>
						<key>strSel_customCell</key>
						<string>customCell_leaderBoard:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>游戏</string>
						</dict>
						<key>icon</key>
						<string>icon-game08</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>成就与排行，论坛</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>height</key>
					<string>88</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdViewCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>NdView</key>
							<dict>
								<key>NdCtrls</key>
								<dict>
									<key>btnViewGame</key>
									<dict>
										<key>type</key>
										<string>button</string>
										<key>autoResizeFlag</key>
										<string>1,8,32</string>
										<key>rect</key>
										<string>{{10,0},{55,55}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>viewLineVertical</key>
									<dict>
										<key>type</key>
										<string>view</string>
										<key>viewType</key>
										<string>UIView</string>
										<key>bgColor</key>
										<string>0.5,0.5,0.5,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{75,0},{1,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>viewLineHorizon</key>
									<dict>
										<key>type</key>
										<string>view</string>
										<key>viewType</key>
										<string>UIView</string>
										<key>bgColor</key>
										<string>0.5,0.5,0.5,1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8</string>
										<key>rect</key>
										<string>{{76,43},{0,1}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>imgViewTriangle1</key>
									<dict>
										<key>type</key>
										<string>imageView</string>
										<key>image</key>
										<string>icon_enter</string>
										<key>autoResizeFlag</key>
										<string>4,8,32</string>
										<key>rect</key>
										<string>{{0,0},{12,12}}</string>
										<key>bottomRightMargin</key>
										<string>{10,44}</string>
									</dict>
									<key>imgViewTriangle2</key>
									<dict>
										<key>type</key>
										<string>imageView</string>
										<key>image</key>
										<string>icon_enter</string>
										<key>autoResizeFlag</key>
										<string>4,8,32</string>
										<key>rect</key>
										<string>{{0,44},{12,12}}</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
									</dict>
									<key>imgViewIcon1</key>
									<dict>
										<key>type</key>
										<string>imageView</string>
										<key>image</key>
										<string>icon-game01</string>
										<key>autoResizeFlag</key>
										<string>1,8,32</string>
										<key>rect</key>
										<string>{{84,0},{30,30}}</string>
										<key>bottomRightMargin</key>
										<string>{0,44}</string>
									</dict>
									<key>imgViewIcon2</key>
									<dict>
										<key>type</key>
										<string>imageView</string>
										<key>image</key>
										<string>icon-game02</string>
										<key>autoResizeFlag</key>
										<string>1,8,32</string>
										<key>rect</key>
										<string>{{84,44},{30,30}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>btn1</key>
									<dict>
										<key>type</key>
										<string>button</string>
										<key>title</key>
										<string>          成就榜</string>
										<key>horizenAlign</key>
										<string>left</string>
										<key>titleColor</key>
										<string>0,0,0,1</string>
										<key>index</key>
										<string>-1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8</string>
										<key>rect</key>
										<string>{{75,0},{0,44}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>clickEvent</key>
										<string>onBtnAchievement:</string>
									</dict>
									<key>btn2</key>
									<dict>
										<key>type</key>
										<string>button</string>
										<key>title</key>
										<string>          排行榜</string>
										<key>horizenAlign</key>
										<string>left</string>
										<key>titleColor</key>
										<string>0,0,0,1</string>
										<key>index</key>
										<string>-1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,32</string>
										<key>rect</key>
										<string>{{75,0},{0,44}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>clickEvent</key>
										<string>onBtnLearderBoard:</string>
									</dict>
								</dict>
								<key>strSel_customNdView</key>
								<string>customNdView_withinCell:</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>论坛</string>
						</dict>
						<key>icon</key>
						<string>icon-game04</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>新鲜事</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>新鲜事</string>
						</dict>
						<key>icon</key>
						<string>icon-index03</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>看看谁在玩</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>看看谁在玩</string>
						</dict>
						<key>icon</key>
						<string>icon-index01</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>邀请好友</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>邀请好友</string>
						</dict>
						<key>icon</key>
						<string>icon-index02</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>新鲜事，好友(11)</string>
			<key>dependShow</key>
			<string>1</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>btnLeft</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>1</string>
							<key>title</key>
							<string>新鲜事</string>
							<key>titleColor</key>
							<string>0,0,0,1</string>
							<key>clickEvent</key>
							<string>onBtnFangle:</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,32</string>
							<key>rect</key>
							<string>{{38,0},{145,44}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>relativePos</key>
							<string>{{0,0},{0.5,0}}</string>
						</dict>
						<key>btnRight</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>1</string>
							<key>title</key>
							<string>好友</string>
							<key>titleColor</key>
							<string>0,0,0,1</string>
							<key>clickEvent</key>
							<string>onBtnFriends:</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,32</string>
							<key>rect</key>
							<string>{{10,0},{145,44}}</string>
							<key>bottomRightMargin</key>
							<string>{38,0}</string>
							<key>relativePos</key>
							<string>{{0.5,0},{0,0}}</string>
						</dict>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdView_twoBtn:</string>
				</dict>
				<key>height</key>
				<string>55</string>
			</dict>
		</dict>
		<dict>
			<key>tip</key>
			<string>删除</string>
			<key>dependShow</key>
			<string>1</string>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>btn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>title</key>
							<string>删除好友</string>
							<key>clickEvent</key>
							<string>onBtnDelFriend:</string>
							<key>bgImage</key>
							<string>Del</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,32</string>
							<key>rect</key>
							<string>{{38,0},{0,49}}</string>
							<key>bottomRightMargin</key>
							<string>{38,0}</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>55</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
