<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionHeaderHeight</key>
	<string>8</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>height</key>
					<string>300</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdViewCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>NdView</key>
							<dict>
								<key>NdCtrls</key>
								<dict>
									<key>imgViewIcon</key>
									<dict>
										<key>type</key>
										<string>imageView</string>
										<key>notStretchWithPoint</key>
										<string>1</string>
										<key>image</key>
										<string>paySuccessIcon</string>
										<key>rect</key>
										<string>{{170,40},{20,20}}</string>
										<key>autoResizeFlag</key>
										<string>1,8</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>labelTip</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>content</key>
										<string>付款成功，请注意查收商品！</string>
										<key>lineNum</key>
										<string>0</string>
										<key>align</key>
										<string>left</string>
										<key>rect</key>
										<string>{{200,36},{0,24}}</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
									</dict>
									<key>viewLine</key>
									<dict>
										<key>type</key>
										<string>view</string>
										<key>viewType</key>
										<string>UIView</string>
										<key>bgColor</key>
										<string>file:paySuccessDotLine</string>
										<key>rect</key>
										<string>{{4,98},{0,1}}</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8</string>
										<key>bottomRightMargin</key>
										<string>{4,0}</string>
									</dict>
									<key>btnRecords</key>
									<dict>
										<key>type</key>
										<string>button</string>
										<key>buttonType</key>
										<string>0</string>
										<key>bgImage</key>
										<string>paySuccess2record</string>
										<key>bgImage_stretchPoint</key>
										<string>{0.5,0}</string>
										<key>title</key>
										<string>查看消费记录</string>
										<key>fontSize</key>
										<string>18</string>
										<key>titleColor</key>
										<string>1,1,1,1</string>
										<key>clickEvent</key>
										<string>onBtn2record</string>
										<key>rect</key>
										<string>{{0,134},{195,36}}</string>
										<key>autoResizeFlag</key>
										<string>1,4,8</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
									<key>btnBack</key>
									<dict>
										<key>type</key>
										<string>button</string>
										<key>buttonType</key>
										<string>0</string>
										<key>bgImage</key>
										<string>paySuccess2exit</string>
										<key>bgImage_stretchPoint</key>
										<string>{0.5,0}</string>
										<key>title</key>
										<string>退出支付中心</string>
										<key>fontSize</key>
										<string>18</string>
										<key>titleColor</key>
										<string>1,1,1,1</string>
										<key>clickEvent</key>
										<string>onBtn2exit</string>
										<key>rect</key>
										<string>{{0,210},{195,36}}</string>
										<key>autoResizeFlag</key>
										<string>1,4,8</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</array>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>labelTip1</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>若商品未到账，请登录</string>
							<key>lineNum</key>
							<string>1</string>
							<key>align</key>
							<string>center</string>
							<key>rect</key>
							<string>{{146,0},{14,20}}</string>
							<key>autoResizeFlag</key>
							<string>1,8,32</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
						<key>labelTip2</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>textColor</key>
							<string>#9dc4ed</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>91社区&quot;更多&quot;</string>
							<key>lineNum</key>
							<string>1</string>
							<key>align</key>
							<string>center</string>
							<key>rect</key>
							<string>{{160,0},{10,20}}</string>
							<key>autoResizeFlag</key>
							<string>1,8,32</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
						<key>labelTip3</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>进行用户反馈</string>
							<key>lineNum</key>
							<string>1</string>
							<key>align</key>
							<string>center</string>
							<key>rect</key>
							<string>{{180,0},{10,20}}</string>
							<key>autoResizeFlag</key>
							<string>1,8,32</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
					</dict>
					<key>NdExtent</key>
					<dict>
						<key>widthDependOrder</key>
						<string>labelTip1,labelTip2,labelTip3</string>
					</dict>
				</dict>
				<key>height</key>
				<string>70</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
