<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionHeaderHeight</key>
	<string>16</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>商品，数量，总价</string>
			<key>rows</key>
			<array>
				<dict>
					<key>height</key>
					<string>120</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdViewCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>clipsToBounds</key>
						<string>1</string>
						<key>extent</key>
						<dict>
							<key>NdView</key>
							<dict>
								<key>NdCtrls</key>
								<dict>
									<key>lbNameTitle</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>商品:</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{10,10},{40,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>relativePos</key>
										<string>{{0,0},{0,0.667}}</string>
									</dict>
									<key>lbName</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>xxx战斗机</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8,16,32</string>
										<key>rect</key>
										<string>{{60,10},{0,0}}</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
										<key>relativePos</key>
										<string>{{0,0},{0,0.667}}</string>
									</dict>
									<key>lbCountTitle</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>数量:</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{10,0},{40,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,10}</string>
										<key>relativePos</key>
										<string>{{0,0.333},{0,0.333}}</string>
									</dict>
									<key>lbCount</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>20</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8,16,32</string>
										<key>rect</key>
										<string>{{60,0},{20,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,10}</string>
										<key>relativePos</key>
										<string>{{0,0.333},{0,0.333}}</string>
									</dict>
									<key>vLine</key>
									<dict>
										<key>type</key>
										<string>view</string>
										<key>viewType</key>
										<string>UIView</string>
										<key>bgColor</key>
										<string>0.5,0.5,0.5,1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8</string>
										<key>rect</key>
										<string>{{0,0},{0,1}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>relativePos</key>
										<string>{{0,0.667},{0,0}}</string>
									</dict>
									<key>lbCostTitle</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>总价:</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{10,0},{40,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>relativePos</key>
										<string>{{0,0.667},{0,0}}</string>
									</dict>
									<key>lbCost</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>3</string>
										<key>textColor</key>
										<string>1,0.4,0.36,1</string>
										<key>lineNum</key>
										<string>1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{60,0},{10,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,0}</string>
										<key>relativePos</key>
										<string>{{0,0.667},{0,0}}</string>
									</dict>
									<key>lbCostUnit</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>个91豆</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{70,0},{0,0}}</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
										<key>relativePos</key>
										<string>{{0,0.667},{40,0}}</string>
									</dict>
								</dict>
								<key>NdExtent</key>
								<dict>
									<key>widthDependOrder</key>
									<string>lbCost,lbCostUnit</string>
								</dict>
								<key>strSel_customNdView</key>
								<string>setBuyInfoInNdView:</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>当前帐户，可用余额</string>
			<key>rows</key>
			<array>
				<dict>
					<key>height</key>
					<string>80</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdViewCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>clipsToBounds</key>
						<string>1</string>
						<key>extent</key>
						<dict>
							<key>NdView</key>
							<dict>
								<key>NdCtrls</key>
								<dict>
									<key>lbAccountTitle</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>当前帐户:</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{10,8},{80,0}}</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
										<key>relativePos</key>
										<string>{{0,0},{0,0.5}}</string>
									</dict>
									<key>lbAccount</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>sjMichael</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,2,4,8,16,32</string>
										<key>rect</key>
										<string>{{100,8},{0,0}}</string>
										<key>bottomRightMargin</key>
										<string>{10,0}</string>
										<key>relativePos</key>
										<string>{{0,0},{0,0.5}}</string>
									</dict>
									<key>lbBalanceTitle</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>可用余额:</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{10,0},{80,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,8}</string>
										<key>relativePos</key>
										<string>{{0,0.5},{0,0}}</string>
									</dict>
									<key>lbBalance</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>5</string>
										<key>lineNum</key>
										<string>1</string>
										<key>textColor</key>
										<string>0.38,1,0.62,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{100,0},{10,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,8}</string>
										<key>relativePos</key>
										<string>{{0,0.5},{0,0}}</string>
									</dict>
									<key>lbBalanceUnit</key>
									<dict>
										<key>type</key>
										<string>label</string>
										<key>content</key>
										<string>个91豆</string>
										<key>textColor</key>
										<string>0,0,0,1</string>
										<key>autoResizeFlag</key>
										<string>1,8,16,32</string>
										<key>rect</key>
										<string>{{110,0},{80,0}}</string>
										<key>bottomRightMargin</key>
										<string>{0,8}</string>
										<key>relativePos</key>
										<string>{{0,0.5},{0,0}}</string>
									</dict>
								</dict>
								<key>NdExtent</key>
								<dict>
									<key>widthDependOrder</key>
									<string>lbBalance,lbBalanceUnit</string>
								</dict>
								<key>strSel_customNdView</key>
								<string>setBalanceInNdView:</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>btnConfirm</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>bgImage</key>
							<string>loginGuideBtn</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0}</string>
							<key>title</key>
							<string>确定付款</string>
							<key>titleColor</key>
							<string>1,1,1,1</string>
							<key>clickEvent</key>
							<string>doBuy</string>
							<key>autoResizeFlag</key>
							<string>1,4,32</string>
							<key>rect</key>
							<string>{{0,0},{230,40}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>80</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
