<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelAccount</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>16</string>
			<key>boldFont</key>
			<string>1</string>
			<key>align</key>
			<string>center</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{4,6},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{4,0}</string>
			<key>content</key>
			<string>您好，%@</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>labelAdvert</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>15</string>
			<key>boldFont</key>
			<string>1</string>
			<key>align</key>
			<string>center</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{4,28},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{4,0}</string>
			<key>content</key>
			<string>绑定手机号码保障账号安全，享受91更多贴心服务！</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>smsVerifyView</key>
		<dict>
			<key>type</key>
			<string>view</string>
			<key>viewType</key>
			<string>NdSMSVerifyView</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{0,52},{200,170}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
		<key>labelTitle</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>15</string>
			<key>boldFont</key>
			<string>1</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,190},{200,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>content</key>
			<string>温馨提示：</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>imgPoint1</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconBdPoint</string>
			<key>rect</key>
			<string>{{11,219},{5,5}}</string>
		</dict>
		<key>label1</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>14</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{20,213},{400,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>content</key>
			<string>手机号码仅作为身份验证，我们不会收取任何费用，请放心使用。</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>imgPoint2</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconBdPoint</string>
			<key>rect</key>
			<string>{{11,240},{5,5}}</string>
		</dict>
		<key>label2</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>14</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{20,234},{400,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>content</key>
			<string>91无线承诺保障您的隐私权益，不会泄露您的手机号码。</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
	</dict>
</dict>
</plist>
