<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>image</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>autoResizeFlag</key>
			<string>1,8</string>
			<key>rect</key>
			<string>{{40,20},{36,36}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>image</key>
			<string>iconBdWarning</string>
		</dict>
		<key>labelTitle</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{90,30},{260,30}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>align</key>
			<string>left</string>
			<key>fontSize</key>
			<string>20</string>
			<key>content</key>
			<string>您的账号安全级别：低</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>labelDescription</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{40,60},{280,70}}</string>
			<key>bottomRightMargin</key>
			<string>{40,0}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>content</key>
			<string>您尚未绑定手机，忘记密码或者账号不慎被盗时将无法通过手机找回！</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>bindPhoneBtn</key>
		<dict>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>type</key>
			<string>button</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{40,140},{280,40}}</string>
			<key>bottomRightMargin</key>
			<string>{40,0}</string>
			<key>title</key>
			<string>立即绑定</string>
			<key>bgImage</key>
			<string>btnBdBlue</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>1,1,1,1</string>
			<key>clickEvent</key>
			<string>doBindPhone</string>
		</dict>
		<key>exitBtn</key>
		<dict>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>type</key>
			<string>button</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{40,200},{280,40}}</string>
			<key>bottomRightMargin</key>
			<string>{40,0}</string>
			<key>title</key>
			<string>以后绑定</string>
			<key>bgImage</key>
			<string>btnBdGray</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>0,0,0,1</string>
			<key>clickEvent</key>
			<string>doExit</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
</dict>
</plist>
