<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,5},{200,30}}</string>
			<key>align</key>
			<string>center</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>boldFont</key>
			<string>1</string>
			<key>content</key>
			<string>验证绑定的手机号码，快速轻松找回密码！</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>labelAccount</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,35},{200,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>content</key>
			<string>请输入账号</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>tfAccount</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,60},{260,30}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
		</dict>
		<key>smsVerifyView</key>
		<dict>
			<key>type</key>
			<string>view</string>
			<key>viewType</key>
			<string>NdSMSVerifyView</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{0,90},{200,230}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
		<key>labelBottomTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,32</string>
			<key>rect</key>
			<string>{{10,35},{200,32}}</string>
			<key>bottomRightMargin</key>
			<string>{10,6}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>content</key>
			<string>温馨提示：未绑定手机号码的用户，可以使用电脑登入aq.91.com通过密保找回密码，或者可以登入wxkf.91.com提交帐号密码申诉表单进行处理</string>
			<key>lineNum</key>
			<string>0</string>
			<key>lineBreakMode</key>
			<string>1</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
	</dict>
</dict>
</plist>
