<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowHeight</key>
	<string>44</string>
	<key>sectionHeaderHeight</key>
	<string>16</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>commParam</key>
	<dict>
		<key>fonts</key>
		<dict>
			<key>textLabel</key>
			<string>17</string>
			<key>detailTextLabel</key>
			<string>17</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>textLabel</key>
			<string>0,0,0,1</string>
			<key>detailTextLabel</key>
			<string>0,0,0,1</string>
		</dict>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>可能认识的人</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>可能认识的人</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>按xx查找</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>按通行证查找用户</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>按昵称查找用户</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>nextController</key>
					<string>NdSearchUserAdvancedController</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdCustomCellBase</string>
						<key>accessoryType</key>
						<string>1</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>按分类查找用户</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
