<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowHeight</key>
	<string>44</string>
	<key>sectionHeaderHeight</key>
	<string>16</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>commParam</key>
	<dict>
		<key>fonts</key>
		<dict>
			<key>textLabel</key>
			<string>17</string>
			<key>detailTextLabel</key>
			<string>17</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>textLabel</key>
			<string>0,0,0,1</string>
			<key>detailTextLabel</key>
			<string>0,0,0,1</string>
		</dict>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>可能认识的人</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>editable</key>
								<string>0</string>
								<key>placeholder</key>
								<string>不限</string>
								<key>fontSize</key>
								<string>17</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>性别：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>setSexText:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>editable</key>
								<string>0</string>
								<key>placeholder</key>
								<string>不限</string>
								<key>fontSize</key>
								<string>17</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>年龄：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>setAgeText:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>editable</key>
								<string>0</string>
								<key>placeholder</key>
								<string>不限</string>
								<key>fontSize</key>
								<string>17</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>居住地：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>setAddressText:</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>Extent</key>
	<dict>
		<key>pickerViewFrame</key>
		<string>{{0,200},{480,256}}</string>
	</dict>
</dict>
</plist>
