<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
		<key>frame</key>
		<string>{{0,0},{320,640}}</string>
	</dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelPhone</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,5},{200,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>content</key>
			<string>请输入手机号码</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>tfPhone</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>keyboardType</key>
			<string>5</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,30},{260,30}}</string>
			<key>bottomRightMargin</key>
			<string>{150,0}</string>
		</dict>
		<key>labelVerifyCode</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,70},{200,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>content</key>
			<string>请输入短信验证码</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>tfVerifyCode</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>keyboardType</key>
			<string>4</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{10,95},{160,30}}</string>
			<key>bottomRightMargin</key>
			<string>{150,0}</string>
		</dict>
		<key>btnGetVerifyCode</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>4,8</string>
			<key>rect</key>
			<string>{{180,30},{130,30}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>title</key>
			<string>点击获取验证码</string>
			<key>fontSize</key>
			<string>16</string>
			<key>titleColor</key>
			<string>0,0,0,1</string>
			<key>bgImage</key>
			<string>btnBdGray</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>clickEvent</key>
			<string>getVerifyCode</string>
		</dict>
		<key>labelStatus</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>4,8</string>
			<key>rect</key>
			<string>{{180,62},{100,20}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>fontSize</key>
			<string>13</string>
			<key>content</key>
			<string></string>
			<key>align</key>
			<string>center</string>
			<key>hidden</key>
			<string>0</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>btnSure</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,4,8</string>
			<key>rect</key>
			<string>{{10,170},{300,35}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
			<key>title</key>
			<string>立即绑定</string>
			<key>fontSize</key>
			<string>17</string>
			<key>titleColor</key>
			<string>0,0,0,1</string>
			<key>bgImage</key>
			<string>btnBdBlue</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>clickEvent</key>
			<string>sure</string>
		</dict>
	</dict>
	<key>NdExtent</key>
	<dict>
		<key>unbindHint</key>
		<dict>
			<key>phoneHint</key>
			<string>请输入手机号码</string>
			<key>btnSureTitle</key>
			<string>解除绑定</string>
		</dict>
		<key>bindHint</key>
		<dict>
			<key>phoneHint</key>
			<string>请输入手机号码</string>
			<key>btnSureTitle</key>
			<string>立即绑定</string>
		</dict>
		<key>findPasswordHint</key>
		<dict>
			<key>phoneHint</key>
			<string>请输入手机号码</string>
			<key>btnSureTitle</key>
			<string>确定</string>
		</dict>
		<key>titleFormatForTimer</key>
		<string>%d秒后重新获取</string>
	</dict>
</dict>
</plist>
