<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowHeight</key>
	<string>44</string>
	<key>sectionHeaderHeight</key>
	<string>16</string>
	<key>sectionFooterHeight</key>
	<string>0</string>
	<key>commParam</key>
	<dict>
		<key>fonts</key>
		<dict>
			<key>textLabel</key>
			<string>17</string>
			<key>detailTextLabel</key>
			<string>17</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>textLabel</key>
			<string>0,0,0,1</string>
			<key>detailTextLabel</key>
			<string>0,0,0,1</string>
		</dict>
	</dict>
	<key>sections</key>
	<array>
		<dict>
			<key>tip</key>
			<string>备注</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>10</string>
								<key>placeholder</key>
								<string>点击这里给好友添加备注</string>
								<key>fontSize</key>
								<string>17</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>备注：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell_note:</string>
						<key>strSel_editDone</key>
						<string>onEditDone_note:</string>
						<key>strSel_keyboardReturn</key>
						<string>onEditReturn_note:</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tip</key>
			<string>昵称，姓名，性别，生日，居住地</string>
			<key>dependShow</key>
			<string>1</string>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>昵称：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>姓名：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>性别：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>生日：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>居住地：</string>
						</dict>
						<key>strSel_customCell</key>
						<string>onCustomCell:</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
