<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>imgViewLogo</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>welcomeBackLogo</string>
			<key>autoResizeFlag</key>
			<string>1,8,32</string>
			<key>rect</key>
			<string>{{10,0},{35,29}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
		<key>imgViewBg</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>welcomeBackBg</string>
			<key>stretchPoint</key>
			<string>{0.5,0}</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{0,0},{0,0}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
			<key>index</key>
			<string>-10</string>
		</dict>
		<key>labelName</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>fontSize</key>
			<string>14</string>
			<key>align</key>
			<string>center</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{55,0},{0,0}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
		</dict>
	</dict>
	<key>NdExtent</key>
	<dict>
		<key>rect</key>
		<string>{{15,5},{0,49}}</string>
		<key>rect_ipad</key>
		<string>{{0,10},{645,49}}</string>
		<key>textFormat</key>
		<string>%@，欢迎你回来！</string>
		<key>textFormat_without_nickname</key>
		<string>欢迎你回来！</string>
		<key>textFormatNewMsg</key>
		<string>您有%d条新消息</string>
		<key>intervalTime</key>
		<string>3</string>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
</dict>
</plist>
