<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelReceiver</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>content</key>
			<string>收件人：</string>
			<key>textColor</key>
			<string>0.7,0.7,0.7,1</string>
			<key>autoResizeFlag</key>
			<string>1,8</string>
			<key>rect</key>
			<string>{{8,2},{70,40}}</string>
			<key>bottomRightMargin</key>
			<string>{0,2}</string>
		</dict>
		<key>edit</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>editable</key>
			<string>0</string>
			<key>placeholder</key>
			<string>请选择一位好友</string>
			<key>fontSize</key>
			<string>17</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{78,12},{0,25}}</string>
			<key>bottomRightMargin</key>
			<string>{55,5}</string>
			<key>borderStyle</key>
			<string>0</string>
		</dict>
		<key>btnAddAuxi</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>clickEvent</key>
			<string>onBtnAddReciever:</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{78,9},{0,30}}</string>
			<key>bottomRightMargin</key>
			<string>{55,5}</string>
			<key>index</key>
			<string>10</string>
		</dict>
		<key>btnAdd</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage</key>
			<string>messige-icon-5</string>
			<key>clickEvent</key>
			<string>onBtnAddReciever:</string>
			<key>autoResizeFlag</key>
			<string>4,8</string>
			<key>rect</key>
			<string>{{0,10},{24,24}}</string>
			<key>bottomRightMargin</key>
			<string>{10,0}</string>
		</dict>
		<key>lineView</key>
		<dict>
			<key>type</key>
			<string>view</string>
			<key>viewType</key>
			<string>UIView</string>
			<key>bgColor</key>
			<string>0.5,0.5,0.5,0.8</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{0,43},{0,1}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>rect</key>
		<string>{{0,0},{320,44}}</string>
		<key>bgColor</key>
		<string>1,1,1,1</string>
	</dict>
</dict>
</plist>
