<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{0,44},{320,397}}</string>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>strSel_customNdView</key>
					<string>customHeader:</string>
					<key>NdCtrls</key>
					<dict>
						<key>imageBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>bgImage</key>
							<string>default_head</string>
							<key>rect</key>
							<string>{{9,15},{57,57}}</string>
							<key>clickEvent</key>
							<string>showPhotoEditer</string>
							<key>subviews</key>
							<dict>
								<key>setHintLabel</key>
								<dict>
									<key>type</key>
									<string>label</string>
									<key>rect</key>
									<string>{{10,10},{34,34}}</string>
									<key>content</key>
									<string>添加照片</string>
									<key>fontSize</key>
									<string>14</string>
									<key>align</key>
									<string>center</string>
									<key>textColor</key>
									<string>0.321,0.321,0.321,1</string>
									<key>bgColor</key>
									<string>0,0,0,0</string>
									<key>lineNum</key>
									<string>2</string>
								</dict>
								<key>editHintLabel</key>
								<dict>
									<key>type</key>
									<string>label</string>
									<key>rect</key>
									<string>{{0,42},{57,15}}</string>
									<key>content</key>
									<string>编辑</string>
									<key>align</key>
									<string>center</string>
									<key>textColor</key>
									<string>1,1,1,1</string>
									<key>fontSize</key>
									<string>14</string>
									<key>bgColor</key>
									<string>0,0,0,0.5</string>
								</dict>
							</dict>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,79}}</string>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>67</string>
			</dict>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>24</string>
								<key>placeholder</key>
								<string>24字以内</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_name</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>姓名：</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>10字以内</string>
								<key>maxChar</key>
								<string>10</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_nickName</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>昵称：</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>保密</string>
								<key>editable</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string>setSexText:</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>性别：</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>保密</string>
								<key>editable</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string>setBirthDayText:</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>生日：</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>保密</string>
								<key>editable</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>strSel_customCell</key>
						<string>setAddressText:</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>居住地：</string>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>Extent</key>
	<dict>
		<key>pickerViewFrame</key>
		<string>{{0,200},{320,256}}</string>
	</dict>
</dict>
</plist>
