<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>roundRectBg</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>contentbg_90</string>
			<key>index</key>
			<string>-10</string>
			<key>rect</key>
			<string>{{7,6},{466,248}}</string>
		</dict>
		<key>lineBg1</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>lineGray</string>
			<key>index</key>
			<string>-9</string>
			<key>rect</key>
			<string>{{8,65},{464,2}}</string>
		</dict>
		<key>lineBg2</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>lineGray</string>
			<key>index</key>
			<string>-9</string>
			<key>rect</key>
			<string>{{8,170},{464,2}}</string>
		</dict>
		<key>msgTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>index</key>
			<string>-9</string>
			<key>rect</key>
			<string>{{17,10},{446,50}}</string>
			<key>content</key>
			<string></string>
		</dict>
		<key>phoneTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>index</key>
			<string>-9</string>
			<key>rect</key>
			<string>{{17,85},{56,30}}</string>
			<key>content</key>
			<string>手机号</string>
			<key>fontSize</key>
			<string>18</string>
		</dict>
		<key>phoneEdit</key>
		<dict>
			<key>type</key>
			<string>edit</string>
			<key>rect</key>
			<string>{{83,85},{381,35}}</string>
			<key>keyboardType</key>
			<integer>4</integer>
			<key>maxChar</key>
			<integer>11</integer>
		</dict>
		<key>confirmBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage</key>
			<string>button_bg</string>
			<key>rect</key>
			<string>{{173,130},{136,36}}</string>
			<key>title</key>
			<string>确认</string>
		</dict>
		<key>alertLogo</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconPhoneBinding</string>
			<key>index</key>
			<string>-8</string>
			<key>rect</key>
			<string>{{12,178},{57,67}}</string>
		</dict>
		<key>alertTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{72,180},{398,50}}</string>
			<key>content</key>
			<string>绑定手机号需要发送一条短信，该过程仅由运营商收取正常短信通信费，不含任何其他费用</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0.922,0.922,0.922,1</string>
	</dict>
	<key>NdExtent</key>
	<dict>
		<key>msgTipFormat</key>
		<string>全新的%@：请您绑定手机号码。绑定后才能开始使用哦！</string>
	</dict>
</dict>
</plist>
