<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>1,1,1,1</string>
	</dict>
	<key>NdCtrls</key>
	<dict>
		<key>protocol</key>
		<dict>
			<key>type</key>
			<string>textView</string>
			<key>rect</key>
			<string>{{12,10},{480,480}}</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>bottomRightMargin</key>
			<string>{12,18}</string>
			<key>text</key>
			<string>1、	任何由91无线集团（包括91无线网络有限公司及其子公司，以下简称“91无线”）研发的软件之著作权、商标权等一切知识产权均由91无线合法享有，未经知识产权人书面授权，任何人不得擅自使用、修改、删减或对软件进行拆解、反向工程、反向编译或反汇编等，否则自行承担由此引发的一切法律后果。

2、	若您对91无线提供的部分或所有服务不满，您唯一的补救措施是停止使用这些服务。如果您需要帮助、或是对产品有任何意见，欢迎您通过各种客服的渠道提交&quot;问题反馈&quot;，我们工作人员将在第一时间进行处理。

3、	91社区通过您的用户名和密码识别您的指示，请您妥善保管您的用户名和密码，对于因密码泄露所致的损失，由您自行承担，91社区不承担由此引起的直接或间接损害责任。

4、	91社区提供交易中介服务。作为付款服务提供商，91社区通过网络为您创建、代管、维护并提供服务。我们对使用我们的服务进行付款的产品或服务不具备任何控制权，也不对其负责。我们无法确保与您交易的第三方（第三方指得是任何利用91社区进行交易的买家或卖家）会实际完成交易。91社区不是一家公共服务商或一种公用事业。

5、	任何通过91社区授权的任何交易，我们都会明示您相关交易金额及交易操作，一切信息以91社区显示为主，您了解并获知该项信息，您可以选择拒绝付费并终止该服务，否则将视为您对交易无任何异议，91社区不承担由此引起的直接或间接损害责任。

6、	如果91社区发现处理错误，我们将纠正错误。如果错误导致您收到的钱款少于应得金额，91社区将为您的账户补足差额。如果错误导致您收到的钱款多于应得金额，91社区可以从您的账户扣除多余资金而无需经过您的同意许可。如果错误导致我们没有按时或按正确金额完成交易，因该错误直接造成的实际损失或损害，91社区会与您协商解决方法，除非：(a)您没有足以完成交易的可用资金，且此事并非我们的过错所致；(b)我们的系统工作不正常，而您在开始交易时已得知系统故障，或(c)尽管我们采取了合理的预防措施，仍有超出我们控制能力的情况（例如火灾、洪水或网络连接丢失）妨碍了交易。

7、	91社区部分功能，包括但不仅限于用户注册、短信充值等功能会使用移动设备的短信功能发送短信，每次短信发送操作将会做出明显提示，除非您接受并授权，否则91社区不会进行短信发送操作，一旦您接受或授权，91社区将视为您已了解并获知该项信息，91社区不承担由此引起的直接或间接损害责任。

8、	您不得使用91社区从事违反法律法规的行为，包括但不限于洗钱、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他91无线认为不得使用本服务进行交易的物品等。

9、	如果您与一位或多位第三方发生争议，91社区将尽力为您与第三方进行协调。您同意免除91社区承担因此类争议引起的或以任何形式与之相联系的任何种类和性质的任何及所有补偿申请、要求和损害赔偿（实际的和间接的）责任。

10、	由于91社区软件产品可以通过网络等途径下载、传播，对于从非91无线指定站点下载的本软件产品以及从91无线发行的介质上获得的本软件产品，91无线无法保证该软件是否感染计算机病毒、是否隐藏有伪装的木马程序或者黑客软件等，不承担由此引起的直接或间接损害责任。

11、	91社区软件经过详细的测试，但不能保证与所有的软硬件系统完全兼容。除本软件自身的明显质量缺陷外，91无线对任何因其他原因在使用本软件时可能对用户造成的损害不负责任。 

12、	91社区软件的数据收集是我们为提高客户满意度而推出的计划。该数据收集仅限于我们提高产品的质量、改进产品性能，同时提供更有价值的内容服务。所有数据是匿名的，不会用于身份标识目的。

13、	91社区软件具备个人数据的网络存储服务及数据共享服务，该功能需要用户自愿申请、参与。涉及用户隐私数据采用高安全级别的加密方案，即使是工作人员本身也无法获取您的数据。但因个人账号、密码保管不周、手机丢失未及时取回号码等等个人问题引起的隐私风险，91无线不承担任何责任。

14、	91社区软件需使用到互联网服务和移动通信服务，可能会受到各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置以及其他任何网络、技术、通信线路等原因造成的服务中断或不能满足用户要求的风险，用户须明白并自行承担以上风险，91无线对此不承担任何责任。

15、	用户对91社区所提供服务的使用承担全部风险。91无线对服务不作任何类型的担保，不论是明确的或隐含的，包括所有有关信息真实性、适商性、适于某一特定用途、所有权和非侵权性的默示担保和条件。

16、	91社区上所有内容及资料，其著作权、专利权、所有权或其他权利，均为91无线或其权利人所有，除事先经91无线或其权利人之合法授权外，用户不得擅自拷贝、重制、传播、改作、编辑或以其他任何形式、或基于任何目的使用，违者应自负相关之法律责任。

17、	未经91无线书面同意授权，任何第三方不得以营利性或非营利性的目的自行实施、利用、转让或许可任何三方实施、利用、转让上述知识产权，91无线有权在不事先通知用户的情况下单方面终止第三方的使用资格同时保留追究上述未经许可行为的权利。

18、	在适用法律允许的范围内，91无线保留对本协议条款的解释权和变更的权利。

19、	本协议签订地为中国福州市。本协议的解释、效力及纠纷的解决，适用于中华人民共和国法律。若用户和91无线之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交福州市有管辖权的人民法院裁决。</string>
			<key>fontSize</key>
			<string>14</string>
			<key>bgColor</key>
			<string>0,0,0,0</string>
		</dict>
	</dict>
</dict>
</plist>
