<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,10},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>您可以使用手机号作为通行证账号，您需要使用该手机接收验证码，才能完成注册。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>14</string>
						</dict>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>70</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>returnKeyType</key>
								<string>4</string>
								<key>keyboardType</key>
								<integer>5</integer>
								<key>placeholder</key>
								<string>请输入手机号码</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>手机号：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtPhone:</string>
						<key>strSel_customCell</key>
						<string>customCellAtPhone:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtPhone</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>限6－12个字母、数字</string>
								<key>returnKeyType</key>
								<string>4</string>
								<key>maxChar</key>
								<string>12</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtPswPhone:</string>
						<key>strSel_customCell</key>
						<string>customCellAtPswPhone:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtPswPhone</string>
					</dict>
				</dict>
			</array>
			<key>dependShow</key>
			<string>1</string>
		</dict>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict/>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>height</key>
				<string>15</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>请输入短信验证码</string>
								<key>returnKeyType</key>
								<string>9</string>
							</dict>
							<key>widthOfTitle</key>
							<string>110</string>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>输入验证码：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtValidation:</string>
						<key>strSel_customCell</key>
						<string>customCellAtValidation:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtValidation</string>
					</dict>
				</dict>
			</array>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>btnGetValidation</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>title</key>
							<string>获取验证码</string>
							<key>clickEvent</key>
							<string>doBtnGetPhoneValidation:</string>
							<key>autoResizeFlag</key>
							<string>1,4,8,32</string>
							<key>rect</key>
							<string>{{0,0},{260,40}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
							<key>bgImage</key>
							<string>getCaptcha</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdViewAtValidationSectionFooterView:</string>
				</dict>
				<key>height</key>
				<string>80</string>
			</dict>
			<key>dependShow</key>
			<string>1</string>
		</dict>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdView</key>
					<dict>
						<key>rect</key>
						<string>{{0,0},{320,15}}</string>
					</dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,10},{0,0}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>您可以输入邮箱、小写字母/数字作为通行证账号，也可以使用系统为您默认分配的账号。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>14</string>
						</dict>
					</dict>
				</dict>
				<key>headerTitle</key>
				<string>NdView</string>
				<key>height</key>
				<string>70</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>returnKeyType</key>
								<string>4</string>
								<key>keyboardType</key>
								<string>7</string>
								<key>placeholder</key>
								<string>小写字母、数字、邮箱</string>
								<key>maxChar</key>
								<string>70</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>通行证：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtAccount:</string>
						<key>strSel_customCell</key>
						<string>customCellAtAccount:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtAccount</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>限6－12个字母、数字</string>
								<key>maxChar</key>
								<string>12</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtPsw:</string>
						<key>strSel_customCell</key>
						<string>customCellAtPsw:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtPsw</string>
					</dict>
				</dict>
			</array>
			<key>dependShow</key>
			<string>1</string>
		</dict>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{35,5},{150,21}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>我已阅读并同意遵守</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>16</string>
						</dict>
						<key>showProtocol</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>title</key>
							<string>91社区服务条款</string>
							<key>titleColor</key>
							<string>0,0,1,1</string>
							<key>fontSize</key>
							<string>16</string>
							<key>rect</key>
							<string>{{180,5},{130,21}}</string>
							<key>horizenAlign</key>
							<string>left</string>
							<key>vertAlign</key>
							<string>bottom</string>
							<key>clickEvent</key>
							<string>showRegisterProtocol</string>
						</dict>
						<key>checkBox</key>
						<dict>
							<key>type</key>
							<string>checkBox</string>
							<key>selStatus</key>
							<string>1</string>
							<key>rect</key>
							<string>{{9,5},{21,21}}</string>
							<key>clickEvent</key>
							<string>checkBoxClicked:</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdViewAtProtocol:</string>
				</dict>
				<key>height</key>
				<string>30</string>
			</dict>
			<key>dependShow</key>
			<string>1</string>
		</dict>
	</array>
	<key>Extent</key>
	<dict>
		<key>titleFormatForTimer</key>
		<string>%@秒后可重新获取验证码</string>
		<key>titleForValidation</key>
		<string>获取验证码</string>
	</dict>
</dict>
</plist>
