<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>rect</key>
							<string>{{10,0},{320,15}}</string>
							<key>bottomRightMargin</key>
							<string>{0,0}</string>
							<key>content</key>
							<string>成功设置密码后，您可以使用91通行证登录</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>center</string>
							<key>fontSize</key>
							<string>15</string>
						</dict>
					</dict>
				</dict>
				<key>height</key>
				<string>70</string>
			</dict>
			<key>rows</key>
			<array>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>12</string>
								<key>placeholder</key>
								<string></string>
								<key>returnKeyType</key>
								<string>4</string>
								<key>secureTextEntry</key>
								<string>1</string>
							</dict>
							<key>widthOfTitle</key>
							<string>90</string>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_newPassword</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>gotoNextCell</string>
					</dict>
				</dict>
				<dict>
					<key>createParam</key>
					<dict>
						<key>selectionStyle</key>
						<string>0</string>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>maxChar</key>
								<string>12</string>
								<key>placeholder</key>
								<string></string>
								<key>secureTextEntry</key>
								<string>1</string>
							</dict>
							<key>widthOfTitle</key>
							<string>90</string>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>bindVariable</key>
						<string>m_confirmPassword</string>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>确认密码：</string>
						</dict>
						<key>strSel_keyboardReturn</key>
						<string>setPassword</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
