<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>title</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{10,6},{0,15}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>您现在处于游客模式，为了更好地保存你的数据，请注册91通行证</string>
							<key>fontSize</key>
							<string>14</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
						</dict>
						<key>viewForAccount</key>
						<dict>
							<key>type</key>
							<string>view</string>
							<key>viewType</key>
							<string>UIView</string>
							<key>bgColor</key>
							<string>0,0,0,0</string>
							<key>rect</key>
							<string>{{0,21},{0,0}}</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8,16,32</string>
							<key>bottomRightMargin</key>
							<string>{180,10}</string>
						</dict>
						<key>registerBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>rect</key>
							<string>{{0,31},{170,30}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>title</key>
							<string>注册91通行证</string>
							<key>titleColor</key>
							<string>0,0,0,1</string>
							<key>bgImage</key>
							<string>btn_login</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>fontSize</key>
							<string>18</string>
							<key>clickEvent</key>
							<string>doRegister</string>
						</dict>
						<key>originalLoginBtn</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>buttonType</key>
							<string>0</string>
							<key>autoResizeFlag</key>
							<string>4,8</string>
							<key>rect</key>
							<string>{{0,71},{170,30}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>title</key>
							<string>我已有91通行证</string>
							<key>titleColor</key>
							<string>0,0,0,1</string>
							<key>bgImage</key>
							<string>btn_register</string>
							<key>bgImage_stretchPoint</key>
							<string>{0.5,0.5}</string>
							<key>fontSize</key>
							<string>18</string>
							<key>clickEvent</key>
							<string>doOriginalLogin</string>
						</dict>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdView_headView:</string>
				</dict>
				<key>height</key>
				<string>120</string>
			</dict>
			<key>footerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>tipLabel</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>rect</key>
							<string>{{35,5},{150,21}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>content</key>
							<string>我已阅读并同意遵守</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
							<key>fontSize</key>
							<string>16</string>
						</dict>
						<key>showProtocol</key>
						<dict>
							<key>type</key>
							<string>button</string>
							<key>title</key>
							<string>91社区服务条款</string>
							<key>titleColor</key>
							<string>0,0,1,1</string>
							<key>fontSize</key>
							<string>16</string>
							<key>rect</key>
							<string>{{180,5},{130,21}}</string>
							<key>horizenAlign</key>
							<string>left</string>
							<key>vertAlign</key>
							<string>bottom</string>
							<key>clickEvent</key>
							<string>showRegisterProtocol</string>
						</dict>
						<key>checkBox</key>
						<dict>
							<key>type</key>
							<string>checkBox</string>
							<key>selStatus</key>
							<string>1</string>
							<key>rect</key>
							<string>{{9,5},{21,21}}</string>
							<key>clickEvent</key>
							<string>checkBoxClicked:</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
					<key>strSel_customNdView</key>
					<string>customNdViewAtProtocol:</string>
				</dict>
				<key>height</key>
				<string>20</string>
			</dict>
		</dict>
		<dict>
			<key>headerView</key>
			<dict>
				<key>NdView</key>
				<dict>
					<key>NdCtrls</key>
					<dict>
						<key>labelTip</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{10,10},{0,20}}</string>
							<key>bottomRightMargin</key>
							<string>{10,0}</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>温馨提示：</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
						</dict>
						<key>imgPoint1</key>
						<dict>
							<key>type</key>
							<string>imageView</string>
							<key>image</key>
							<string>iconBdPoint</string>
							<key>rect</key>
							<string>{{11,36},{5,5}}</string>
						</dict>
						<key>labelTip1</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{22,30},{0,20}}</string>
							<key>bottomRightMargin</key>
							<string>{20,0}</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>注册91通行证可以更好地保存您的数据，享受更多贴心服务；</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
						</dict>
						<key>imgPoint2</key>
						<dict>
							<key>type</key>
							<string>imageView</string>
							<key>image</key>
							<string>iconBdPoint</string>
							<key>rect</key>
							<string>{{11,56},{5,5}}</string>
						</dict>
						<key>labelTip2</key>
						<dict>
							<key>type</key>
							<string>label</string>
							<key>autoResizeFlag</key>
							<string>1,2,4,8</string>
							<key>rect</key>
							<string>{{22,50},{0,20}}</string>
							<key>bottomRightMargin</key>
							<string>{20,0}</string>
							<key>fontSize</key>
							<string>14</string>
							<key>content</key>
							<string>您也可以使用已有的91通行证登录，但游客模式数据将会丢失。</string>
							<key>textColor</key>
							<string>1,1,1,1</string>
							<key>align</key>
							<string>left</string>
						</dict>
					</dict>
					<key>NdView</key>
					<dict>
						<key>bgColor</key>
						<string>0,0,0,0</string>
					</dict>
				</dict>
				<key>height</key>
				<string>60</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
