<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rect</key>
	<string>{{0,-5},{300,110}}</string>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>height</key>
					<string>35</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>returnKeyType</key>
								<string>4</string>
								<key>keyboardType</key>
								<string>7</string>
								<key>placeholder</key>
								<string>小写字母、数字、邮箱</string>
								<key>maxChar</key>
								<string>70</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>通行证：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtAccount:</string>
						<key>strSel_customCell</key>
						<string>customCellAtAccount:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtAccount</string>
					</dict>
				</dict>
				<dict>
					<key>height</key>
					<string>35</string>
					<key>createParam</key>
					<dict>
						<key>cellClassName</key>
						<string>NdTitleColonCell</string>
						<key>selectionStyle</key>
						<string>0</string>
						<key>extent</key>
						<dict>
							<key>edit</key>
							<dict>
								<key>placeholder</key>
								<string>限6－12个字母、数字</string>
								<key>maxChar</key>
								<string>12</string>
							</dict>
						</dict>
					</dict>
					<key>cellParam</key>
					<dict>
						<key>texts</key>
						<dict>
							<key>textLabel</key>
							<string>密码：</string>
						</dict>
						<key>strSel_editDone</key>
						<string>editDoneAtPsw:</string>
						<key>strSel_customCell</key>
						<string>customCellAtPsw:</string>
						<key>strSel_keyboardReturn</key>
						<string>doKeyboardReturnAtPsw</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
