Client/Code_Core/cocos2dx/* linguist-vendored
Client/Code_Core/CocosDenshion/* linguist-vendored
Client/Code_Core/extensions/* linguist-vendored
Client/Code_Core/external/* linguist-vendored
Client/Code_Core/jsoncpp-src-0.5.0/* linguist-vendored
Client/Code_Core/protobuf-2.5.0rc1/* linguist-vendored
Client/Code_Core/protobuf-2.5.0rc1/* linguist-vendored
Client/Code_Client/template/* linguist-vendored
Client/Code_Client/tools/* linguist-vendored