<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdView</key>
	<dict>
		<key>rect</key>
		<string>{{0,0},{320,64}}</string>
		<key>bgColor</key>
		<string>0,0,0,0</string>
		<key>clickEvent</key>
		<string>doEnterAppCenter:</string>
	</dict>
	<key>NdCtrls</key>
	<dict>
		<key>imageView</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>userInteractionEnabled</key>
			<string>0</string>
			<key>image</key>
			<string>appPromotion/bannerBg</string>
			<key>notStretchWithPoint</key>
			<string>1</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8,16,32</string>
			<key>rect</key>
			<string>{{0,0},{0,0}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
			<key>index</key>
			<string>-10</string>
		</dict>
		<key>labelName</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{62,14},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{88,0}</string>
			<key>fontSize</key>
			<string>18</string>
			<key>boldFont</key>
			<string>1</string>
			<key>textColor</key>
			<string>0,0,0,1</string>
			<key>bgColor</key>
			<string>0,0,0,0</string>
			<key>content</key>
			<string>测试应用名称</string>
			<key>lineNum</key>
			<string>1</string>
			<key>lineBreakMode</key>
			<string>1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>labelTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,32</string>
			<key>rect</key>
			<string>{{62,0},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{88,6}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>boldFont</key>
			<string>0</string>
			<key>textColor</key>
			<string>0.847,0,0,1</string>
			<key>bgColor</key>
			<string>0,0,0,0</string>
			<key>content</key>
			<string>测试奖励描述</string>
			<key>lineNum</key>
			<string>1</string>
			<key>lineBreakMode</key>
			<string>1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>button</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>clickEvent</key>
			<string>doDownloadApp:</string>
			<key>rect</key>
			<string>{{0,6},{76,36}}</string>
			<key>autoResizeFlag</key>
			<string>4,8,32</string>
			<key>bottomRightMargin</key>
			<string>{6,0}</string>
			<key>buttonType</key>
			<string>0</string>
			<key>bgImage</key>
			<string>appPromotion/downloadNormal</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>title</key>
			<string>    立即下载</string>
			<key>vertAlign</key>
			<string>center</string>
			<key>horizenAlign</key>
			<string>center</string>
			<key>fontSize</key>
			<string>12</string>
			<key>titleColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>iconView</key>
		<dict>
			<key>type</key>
			<string>view</string>
			<key>cornerRadius</key>
			<string>4</string>
			<key>viewType</key>
			<string>NdIconImgView</string>
			<key>autoResizeFlag</key>
			<string>1,8,32</string>
			<key>rect</key>
			<string>{{6,8},{50,50}}</string>
			<key>bottomRightMargin</key>
			<string>{0,0}</string>
		</dict>
	</dict>
</dict>
</plist>
