<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ndViewHead</key>
	<dict>
		<key>NdCtrls</key>
		<dict>
			<key>imgViewGoods</key>
			<dict>
				<key>type</key>
				<string>imageView</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{25,8},{85,85}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelGoodsTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>fontSize</key>
				<string>20</string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{133,5},{130,35}}</string>
				<key>bottomRightMargin</key>
				<string>{5,0}</string>
			</dict>
			<key>labelOriginPriceTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>原价：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{133,39},{51,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelOriginPrice</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>fontSize</key>
				<string>15</string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{184,40},{84,25}}</string>
				<key>bottomRightMargin</key>
				<string>{5,0}</string>
			</dict>
			<key>labelSalePriceTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>现价：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{133,66},{51,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelSalePrice</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>fontSize</key>
				<string>15</string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{184,67},{84,25}}</string>
				<key>bottomRightMargin</key>
				<string>{5,0}</string>
			</dict>
			<key>btnBuy</key>
			<dict>
				<key>type</key>
				<string>button</string>
				<key>title</key>
				<string>立即购买</string>
				<key>titleColor</key>
				<string>1,1,1,1</string>
				<key>bgImage</key>
				<string>virtualGoods/vgBtnBuy</string>
				<key>clickEvent</key>
				<string>onBtnBuy:</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{142,95},{153,37}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>btnAdd</key>
			<dict>
				<key>type</key>
				<string>button</string>
				<key>bgImage</key>
				<string>virtualGoods/vgAdd</string>
				<key>clickEvent</key>
				<string>onBtnAdd:</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{101,102},{28,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>btnMinus</key>
			<dict>
				<key>type</key>
				<string>button</string>
				<key>bgImage</key>
				<string>virtualGoods/vgMinus</string>
				<key>clickEvent</key>
				<string>onBtnMinus:</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{7,102},{28,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>edit</key>
			<dict>
				<key>type</key>
				<string>edit</string>
				<key>placeholder</key>
				<string>数量</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{40,102},{55,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>NdView</key>
		<dict>
			<key>rect</key>
			<string>{{0,0},{320,140}}</string>
		</dict>
	</dict>
	<key>ndViewDetail</key>
	<dict>
		<key>NdCtrls</key>
		<dict>
			<key>labelTimeIntervalTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>可用时长：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{10,12},{90,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelTimeInterval</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{100,12},{0,25}}</string>
				<key>bottomRightMargin</key>
				<string>{10,0}</string>
			</dict>
			<key>labelAuthCountTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>可用次数：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{10,40},{90,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelAuthCount</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{100,40},{0,25}}</string>
				<key>bottomRightMargin</key>
				<string>{10,0}</string>
			</dict>
			<key>labelLimitTimeTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>抢购时间：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{10,68},{90,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelLimitTime</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{100,68},{0,25}}</string>
				<key>bottomRightMargin</key>
				<string>{10,0}</string>
			</dict>
			<key>labelBuyMaxTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>限    购：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{10,96},{90,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelBuyMax</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{100,96},{0,25}}</string>
				<key>bottomRightMargin</key>
				<string>{10,0}</string>
			</dict>
			<key>labelDescTitle</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string>描    述：</string>
				<key>autoResizeFlag</key>
				<string>1,8</string>
				<key>rect</key>
				<string>{{10,140},{90,25}}</string>
				<key>bottomRightMargin</key>
				<string>{0,0}</string>
			</dict>
			<key>labelDesc</key>
			<dict>
				<key>type</key>
				<string>label</string>
				<key>content</key>
				<string></string>
				<key>autoResizeFlag</key>
				<string>1,2,4,8</string>
				<key>rect</key>
				<string>{{100,140},{0,25}}</string>
				<key>bottomRightMargin</key>
				<string>{10,0}</string>
			</dict>
		</dict>
		<key>NdView</key>
		<dict>
			<key>rect</key>
			<string>{{0,0},{320,175}}</string>
		</dict>
		<key>NdExtent</key>
		<dict>
			<key>heightDependOrder</key>
			<string>labelTimeIntervalTitle,labelTimeInterval,labelAuthCountTitle,labelAuthCount,labelLimitTimeTitle,labelLimitTime,labelBuyMaxTitle,labelBuyMax,labelDescTitle,labelDesc</string>
		</dict>
	</dict>
</dict>
</plist>
