<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lib37wanwan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>lib49app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>lib91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lib91.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>lib91Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>lib91Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>lib91Quasi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>libAppStore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>libAppstore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>libAppstoreTW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>libCmge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>libDownJoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>libItools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libItools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>libYouai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>libYouaiKuaiyong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>libag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>libpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libpp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>libtb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>libtb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>libuc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>221492B6183A43A10023D1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FBD17ACFEB400B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FC917ACFEFD00B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FD517ACFF1800B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>224A1BCB183E103D00B0C24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B41D7B183321A8008F7A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FD7257181B652C002A7022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FD729F181BA59B002A7022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55DEFD0816D7776F00E75F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0CBA1918053BD80009402E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B97E717E41A3D00B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B97FD17E41B4800B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF6065B9183B0E9E005761AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF7B9D64185896AD0029CAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF97250E17C1B87C000DBA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B62F42184D819300434B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
