<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Heroes Charge</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon40x40</string>
		<string>AppIcon29x29</string>
		<string>AppIcon60x60</string>
		<string>AppIcon57x57</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>AppIcon29x29</string>
		<string>AppIcon40x40</string>
		<string>AppIcon50x50</string>
		<string>AppIcon76x76</string>
		<string>AppIcon72x72</string>
		<string>AppIcon60x60</string>
		<string>AppIcon57x57</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ucool.hero</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb423346011140901</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.3</string>
	<key>ChartboostAppId</key>
	<string>53eb49561873da45809a9a43</string>
	<key>ChartboostAppSignature</key>
	<string>096df35a3cec2cd2580628960a121424523fbbcb</string>
	<key>FacebookAppID</key>
	<string>423346011140901</string>
	<key>FacebookDisplayName</key>
	<string>Heroes Charge</string>
	<key>InMobiAppID</key>
	<string>7fb8134e5ee5466fa3962a07b0d46f2a</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>PlayHavenSecret</key>
	<string>6aa867a45b79485d80492a983c9a4586</string>
	<key>PlayHavenToken</key>
	<string>8cd7d2dbeeb146d4b104645c4c7b74e9</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Sling.ttf</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImages</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>gamekit</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
