<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>HC Alpha</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon40x40</string>
		<string>AppIcon29x29</string>
		<string>AppIcon60x60</string>
		<string>AppIcon57x57</string>
		<string>Icon-57.png</string>
		<string>Icon-114.png</string>
		<string>Icon-72.png</string>
		<string>Icon-144.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>AppIcon29x29</string>
		<string>AppIcon40x40</string>
		<string>AppIcon50x50</string>
		<string>AppIcon76x76</string>
		<string>AppIcon72x72</string>
		<string>AppIcon60x60</string>
		<string>AppIcon57x57</string>
		<string>Icon-57.png</string>
		<string>Icon-114.png</string>
		<string>Icon-72.png</string>
		<string>Icon-144.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.ucool.heroalpha</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb725088630882920</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.0.2</string>
	<key>ChartboostAppId</key>
	<string>4f21c409cd1cb2fb7000001b</string>
	<key>ChartboostAppSignature</key>
	<string>92e2de2fd7070327bdeb54c15a5295309c6fcd2d</string>
	<key>FacebookAppID</key>
	<string>725088630882920</string>
	<key>FacebookDisplayName</key>
	<string>heroalpha</string>
	<key>InMobiAppID</key>
	<string>7fb8134e5ee5466fa3962a07b0d46f2a</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>PlayHavenSecret</key>
	<string>080d853e433a4468ba3315953b22615e</string>
	<key>PlayHavenToken</key>
	<string>8ae979ddcdaf450996e897322169d26c</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Sling.ttf</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UILaunchImages</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>gamekit</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
