<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardDisplayRequiresUserAction</key>
	<true/>
	<key>SuppressesIncrementalRendering</key>
	<false/>
	<key>UIWebViewBounce</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
	<key>BackupWebStorage</key>
	<string>cloud</string>
	<key>ExternalHosts</key>
	<array/>
	<key>Plugins</key>
	<dict>
		<key>PayService</key>
		<string>UCPayService</string>
		<key>SdkServerService</key>
		<string>UCSdkServerService</string>
		<key>PhoneService</key>
		<string>UCPhoneService</string>
		<key>AppService</key>
		<string>UCAppService</string>
		<key>CommonService</key>
		<string>UCCommonService</string>
		<key>LoginService</key>
		<string>UCLoginService</string>
		<key>Device</key>
		<string>UCCDVDevice</string>
		<key>Logger</key>
		<string>UCCDVLogger</string>
		<key>Compass</key>
		<string>UCCDVLocation</string>
		<key>Accelerometer</key>
		<string>UCCDVAccelerometer</string>
		<key>Camera</key>
		<string>UCCDVCamera</string>
		<key>NetworkStatus</key>
		<string>UCCDVConnection</string>
		<key>Contacts</key>
		<string>UCCDVContacts</string>
		<key>Debug Console</key>
		<string>UCCDVDebugConsole</string>
		<key>Echo</key>
		<string>UCCDVEcho</string>
		<key>File</key>
		<string>UCCDVFile</string>
		<key>FileTransfer</key>
		<string>UCCDVFileTransfer</string>
		<key>Geolocation</key>
		<string>UCCDVLocation</string>
		<key>Notification</key>
		<string>UCCDVNotification</string>
		<key>Media</key>
		<string>UCCDVSound</string>
		<key>Capture</key>
		<string>UCCDVCapture</string>
		<key>SplashScreen</key>
		<string>UCCDVSplashScreen</string>
		<key>Battery</key>
		<string>UCCDVBattery</string>
		<key>Globalization</key>
		<string>UCCDVGlobalization</string>
	</dict>
</dict>
</plist>
